.tuser {
	margin-top: 29px;

	@mixin screen_to, $mobile {
		margin-top: 33px;
	}

	&_menu {
		font-size: 0px;
		line-height: 0px;
		max-width: 860px;
		margin: 0px auto;
		user-select: none;
		text-align: center;

		@mixin screen_to, $mobile {
			max-width: 480px;
		}

		ul {
			width: 100%;
			margin: 0px;
			padding: 0px;
			display: table;
			table-layout: fixed;
		}
		li {
			margin: 0px;
			padding: 0px;
			display: table-cell;
			vertical-align: top;

			&:before {
				content: normal;
			}
		}
	}
	&_link {
		cursor: pointer;
		min-width: 154px;
		position: relative;
		vertical-align: top;
		padding: 13px 5px 0px;
		display: inline-block;
		font: 25px/25px $f1sb;
		transition: all .2s ease-out-sine;

		@mixin screen_to, $mobile {
			min-width: 84px;
			padding-top: 11px;
			font: 14px/14px $f1sb;
		}

		&:after {
			opacity: 0;
			content: '';
			height: 7px;
			width: 154px;
			display: block;
			margin: 5px auto 0px;
			transition: all .2s ease-out-sine;
			background: url('/assets/img/design/obj/line_2.svg') 50% 100% no-repeat;
			background-size: contain;

			@mixin screen_to, $mobile {
				width: 84px;
				height: 4px;
			}
		}
		
		small {
			top: -3px;
			left: 100%;
			height: 22px;
			color: #fff;
			display: block;
			background: $c3;
			min-width: 22px;
			padding: 0px 6px;
			margin-left: -7px;
			position: absolute;
			white-space: nowrap;
			border-radius: 22px;
			font: 18px/22px $f1sb;

			@mixin screen_to, $mobile {
				top: -4px;
				height: 14px;
				min-width: 14px;
				padding: 0px 4px;
				margin-left: -10px;
				border-radius: 14px;
				font: 11px/16px $f1sb;
			}
		}

		&:hover {
			color: $c2;
		}
		&._active {
			color: $c2;
			cursor: default;

			&:after {
				opacity: 1;
			}
		}
	}
	&_base {
		margin-top: 20px;
		border-top: 1px solid #ccdce8;

		@mixin screen_to, $mobile {
			margin-top: 10px;
		}
	}
	&_item {
		display: none;
		max-width: 860px;
		margin: 0px auto;

		@mixin screen_to, $mobile {
			max-width: 520px;
			padding: 0px 20px;
		}

		&._active {
			display: block;
		}
	}
}


