.lfooter {
	left: 0px;
	width: 100%;
	bottom: 0px;
	font-size: 0px;
	line-height: 0px;
	position: absolute;
	text-align: center;

	@mixin screen_to, $mobile {
		margin-top: 88px;
		position: relative;
	}

	&:after,
	&:before {
		left: 0px;
		width: 100%;
		content: '';
		display: block;
		position: absolute;
	}
	&:after {
		z-index: 1;
		height: 72px;
		bottom: 100%;
		transform: rotate(180deg);
		background: url('/assets/img/design/bg/wave_top_1_1280x72@2x.png') 50% 0% repeat-x;
		background-size: 1280px 72px;
		
		/*
		height: 58px;
		margin-bottom: -2px;
		filter: drop-shadow(0px 4px 8px rgba(#000, .2));
		background: url('/assets/img/design/bg/wave_bot_1.svg') 50% -226px repeat-x;
		background-size: 1280px 284px;
		*/
	}
	&:before {
		z-index: 2;
		height: 100%;
		background: $c2;
	}

	&_wrap {
		z-index: 10;
		margin: 0px auto;
		min-height: 170px;
		max-width: 1280px;
		position: relative;
		padding: 26px 20px 0px;

		@mixin screen_to, $mobile {
			padding: 0px 20px 16px;
		}

		&:after,
		&:before {
			width: 100%;
			content: '';
			display: table;
		}
	}
	&_copyright {
		color: $c1;
		display: block;
		font: 14px/17px $f1sb;
	
		@mixin screen_to, $mobile {
			margin-top: 19px;
		}
	}
}


