.lheader {
	z-index: 500;
	font-size: 0px;
	line-height: 0px;
	user-select: none;
	position: relative;
	margin-bottom: 116px;

	&:after,
	&:before {
		left: 0px;
		width: 100%;
		content: '';
		display: block;
		position: absolute;
	}
	&:after {
		top: 100%;
		z-index: 1;
		height: 72px;
		background: url('/assets/img/design/bg/wave_top_1_1280x72@2x.png') 50% 0% repeat-x;
		background-size: 1280px 72px;

		/*
		height: 58px;
		margin-top: -2px;
		filter: drop-shadow(0px 4px 8px rgba(#000, .2));
		background: url('/assets/img/design/bg/wave_bot_1.svg') 50% -226px repeat-x;
		background-size: 1280px 284px;
		*/
	}
	&:before {
		z-index: 2;
		height: 100%;
		background: $c2;
	}

	&_wrap {
		z-index: 10;
		height: 96px;
		margin: 0px auto;
		max-width: 1280px;
		padding: 0px 20px;
		position: relative;

		@mixin screen_to, $tablet {
			height: 78px;
		}
		@mixin screen_to, $mobile {
			height: auto;
			min-height: 46px;
			padding: 4px 0px 0px;
		}

		&:after,
		&:before {
			width: 100%;
			content: '';
			display: table;
		}
	}
}


