.lbody {
	min-height: 100%;
	position: relative;
	padding-bottom: 286px;

	@mixin screen_to, $mobile {
		padding-bottom: 0px;
	}
}

.lwrap {
	margin: 0px auto;
	max-width: 860px;
	padding: 0px 20px;

	@mixin screen_to, $mobile {
		max-width: 520px;
	}

	&:after,
	&:before {
		width: 100%;
		content: '';
		display: table;
	}

	&:first-child {
		margin-top: -8px;

		@mixin screen_to, $mobile {
			margin-top: -48px;
		}
	}
}

.lmore {
	position: relative;
	background: #f5f0ea;
	padding: 30px 0px 116px;
	margin: 116px 0px -116px;

	@mixin screen_to, $mobile {
		margin-top: 96px;
	}

	&:before {
		left: 0px;
		content: '';
		width: 100%;
		bottom: 100%;
		height: 56px;
		display: block;
		position: absolute;
		background: url('/assets/img/design/bg/wave_top_2.svg') 50% 0% repeat-x;
		background-size: 1280px 284px;
	}

	&_zero {
		display: block;
		padding: 0px 20px;
		text-align: center;
		margin-bottom: 12px;
		font: 20px/30px $f1sb;

		@mixin screen_to, $mobile {
			margin-bottom: 20px;
			font: 16px/20px $f1sb;
		}
	}
	&_title {
		text-align: center;
		font: 80px/68px $f2;
		margin: -9px 0px 29px;

		@mixin screen_to, $mobile {
			font: 60px/48px $f2;
			margin: -4px 0px 23px;
		}
	}
}

.ltitle {
	max-width: 860px;
	padding: 0px 20px;
	text-align: center;
	margin: -8px auto 0px;

	@mixin screen_to, $mobile {
		max-width: 520px;
		margin-top: -47px;
	}
}


