<a class="tile_item _1x1 js_endless_item" href="news_item.html">
	<img class="tile_size" src="assets/img/design/size/610x330.gif" alt="">
	<div class="tile_img" style="background-image: url(assets/img/image/tile/2.jpg);"></div>
	<div class="tile_box">
		<div class="tile_data">
			<div class="tile_cell">
				<span class="tile_txt _2">Заголовок статьи</span>
				<span class="tile_txt _3">Краткое описание статьи</span>
			</div><!--[ tile_cell ]-->
		</div><!--[ tile_data ]-->
	</div><!--[ tile_box ]-->
</a><!--[ tile_item ]-->
<a class="tile_item _1x1 js_endless_item" href="news_item.html">
	<img class="tile_size" src="assets/img/design/size/610x330.gif" alt="">
	<div class="tile_img" style="background-image: url(assets/img/image/tile/3.jpg);"></div>
	<div class="tile_box">
		<div class="tile_data">
			<div class="tile_cell">
				<span class="tile_txt _2">Заголовок статьи</span>
				<span class="tile_txt _3">Краткое описание статьи</span>
			</div><!--[ tile_cell ]-->
		</div><!--[ tile_data ]-->
	</div><!--[ tile_box ]-->
</a><!--[ tile_item ]-->
<a class="js_endless_next" href="news_ajax_2.html"></a>