<a class="tile_item _2x1 js_endless_item" href="news_item.html">
	<img class="tile_size _wide" src="assets/img/design/size/1240x398.gif" alt="">
	<div class="tile_img _wide" style="background-image: url(assets/img/image/tile/4.jpg);"></div>
	<div class="tile_box">
		<div class="tile_data">
			<div class="tile_cell">
				<span class="tile_txt _1">Категория</span>
				<span class="tile_txt _2">Заголовок статьи</span>
				<span class="tile_txt _3">Краткое описание статьи</span>
			</div><!--[ tile_cell ]-->
		</div><!--[ tile_data ]-->
	</div><!--[ tile_box ]-->
</a><!--[ tile_item ]-->