<div class="shop_item js_endless_item">
	<img class="shop_img" src="/assets/img/image/shop/1.jpg" alt="">
	<span class="shop_type">#2 Раскраска</span>
	<span class="shop_name">«Приключения в лесу»</span>
	<span class="shop_bonus">300 баллов</span>
	<span class="shop_sum">(В наличии 10 товаров)</span>
	<a class="shop_buy btn btn_1" href="#">Купить</a>
</div><!--[ shop_item ]-->
<div class="shop_item js_endless_item">
	<img class="shop_img" src="/assets/img/image/shop/2.jpg" alt="">
	<span class="shop_type">Чашка</span>
	<span class="shop_name">«Суперкид»</span>
	<span class="shop_bonus">300 баллов</span>
	<span class="shop_sum">(В наличии 10 товаров)</span>
	<a class="shop_buy btn btn_1" href="#">Купить</a>
</div><!--[ shop_item ]-->
<div class="shop_item js_endless_item">
	<img class="shop_img" src="/assets/img/image/shop/1.jpg" alt="">
	<span class="shop_type">Раскраска</span>
	<span class="shop_name">«Приключения в лесу»</span>
	<span class="shop_bonus">300 баллов</span>
	<span class="shop_sum">(В наличии 10 товаров)</span>
	<a class="shop_buy btn btn_1" href="#">Купить</a>
</div><!--[ shop_item ]-->
<a class="js_endless_next" href="shop_ajax_2.html"></a>