.fclubs {
	font-size: 0px;
	line-height: 0px;
	padding: 0px 20px;
	margin: -8px auto 0px;

	@mixin screen_to, $mobile {
		max-width: 520px;
		margin-top: -53px;
	}

	&_lbl {
		display: block;
		padding-left: 10px;
		font: 18px/18px $f1sb;
		margin: 18px 0px 12px;
	}
	&_form {
		max-width: 640px;
		position: relative;
		margin: 74px auto 0px;

		@mixin screen_to, $mobile {
			margin-top: 52px;
		}

		&:after {
			right: 100%;
			content: '';
			width: 248px;
			height: 320px;
			bottom: -120px;
			display: block;
			margin-right: 60px;
			position: absolute;
			background: url('/assets/img/design/obj/hero_248x320@2x_1.png') no-repeat;
			background-size: contain;

			@mixin screen_to, $mobile {
				content: normal;
			}
		}

		&_box {
			display: flex;
			flex-flow: wrap;

			@mixin screen_to, $mobile {
				display: block;
			}
		}
		&_cell {
			flex-grow: 1;
			flex-basis: 0;

			@mixin screen_to, $mobile {
				display: block;
			}
	
			& + & {
				margin-left: 20px;

				@mixin screen_to, $mobile {
					margin: 18px 0px 0px;
				}
			}
		}
	}
	&_title {
		margin-bottom: 17px;

		@mixin screen_to, $mobile {
			font: 72px/72px $f2;
			margin-bottom: 3px;
		}
	}
	&_submit {
		left: 8px;
		width: 222px;
		height: 74px;
		font: 50px/76px $f2;
		margin: 40px auto 0px;
	}
	&_subtitle {
		color: $c1;
		font: 56px/56px $f2;
		margin: 0px 0px 12px;

		@mixin screen_to, $mobile {
			margin-bottom: 14px;
		}
	}
}


