.fmsg {
	font-size: 0px;
	line-height: 0px;
	max-width: 860px;
	margin: 60px auto;
	padding: 0px 20px;

	@mixin screen_to, $mobile {
		max-width: 520px;
		margin: 40px auto;
	}

	&_file {
		margin-top: 20px;
		vertical-align: top;
		display: inline-block;

		&_label {
			color: $c1;
			display: block;
			cursor: pointer;
			overflow: hidden;
			position: relative;
			padding-left: 58px;
			white-space: nowrap;
			font: 18px/38px $f1sb;
			text-overflow: ellipsis;

			&:before {
				top: 1px;
				left: 0px;
				color: $c2;
				width: 38px;
				display: block;
				content: '\e804';
				font: 36px/1 'ico';
				position: absolute;
				transition: all .2s ease-out-sine;
			}

			&:empty {
				&:after {
					content: attr(data-txt);
				}
			}
			&:hover {
				&:before {
					color: $c1;
				}
			}
		}

	}
	&_title {
		color: $c1;
		text-align: center;
		font: 66px/66px $f2;
		margin: -15px 0px 16px;
	}
	&_submit {
		left: 12px;
		width: 222px;
		height: 74px;
		font: 52px/74px $f2;
		margin: 30px auto 0px;
	}

	&:last-child {
		margin-bottom: 0px;
	}
	&:first-child {
		margin-top: 0px;
	}
}