.form {
	&_file {
		display: flex;
		flex-flow: wrap;
		margin-top: 20px;

		&_btn {
			width: 146px;
			height: 40px;
			cursor: pointer;
			background: $c2;
			margin-left: 20px;
			border-radius: 10px;
			vertical-align: top;
			display: inline-block;
			font: 18px/40px $f1sb;

			&:hover {
				color: #fff;
				background: $c1;
			}
		}
		&_name {
			overflow: hidden;
			white-space: nowrap;
			vertical-align: top;
			display: inline-block;
			font: 18px/40px $f1sb;
			text-overflow: ellipsis;
			width: calc(100% - 166px);

			&:empty {
				&:after {
					content: attr(data-txt);
				}
			}
		}
	}
	&_label {
		display: block;
		font: 18px/1 $f1sb;
		margin: 18px 0px 12px 10px;
	}
	&_title {
		margin: -$h1_top 0px 24px;
		font: $h1_sz/$h1_lh $h1_font;
		
		@mixin screen_to, $mobile {
			margin: -$h1_top_m 0px 30px;
			font: $h1_sz_m/$h1_lh_m $h1_font;
		}
	}
	&_submit {
		width: 224px;
		height: 78px;
		font: 58px/78px $f2;
		margin: 40px auto 0px;
	}
}