.fpts {
	width: 170px;
	height: 24px;
	font-size: 0px;
	line-height: 0px;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	margin: -20px auto 54px;
	background: url('/assets/img/design/obj/star_1_0.svg') 5px 50% repeat-x;
	background-size: auto 100%;

	@mixin screen_to, $mobile {
		margin-bottom: 36px;
	}

	/*
	@mixin screen_to, $tablet {
		width: 140px;
		height: 20px;
		background-position-x: 4px;
	}
	@mixin screen_to, $mobile {
		width: 100px;
		height: 14px;
		background-position-x: 3px;
	}
	*/

	&_radio {
		opacity: 0;
		right: 1000%;
		bottom: 1000%;
		position: fixed;
		visibility: hidden;
	}
	&_value {
		top: 0px;
		left: 0px;
		width: 0px;
		height: 100%;
		position: absolute;
		background: url('/assets/img/design/obj/star_1_2.svg') 50% repeat-x;
		background-position-x: inherit;
		background-size: auto 100%;
	}
	&_item {
		top: 0px;
		right: 0px;
		z-index: 2;
		width: 20%;
		height: 100%;
		display: block;
		cursor: pointer;
		position: absolute;
		background-position-x: inherit;

		&:after,
		&:before {
			top: 0%;
			width: 0%;
			content: '';
			height: 100%;
			display: block;
			position: absolute;
			background: #fff 50% repeat-x;
			background-position-x: inherit;
			background-size: auto 100%;
		}
		&:after {
			left: 100%;
			background-image: url('/assets/img/design/obj/star_1_0.svg');
		}
		&:before {
			right: 0px;
			background-image: url('/assets/img/design/obj/star_1_2.svg');
		}

		&._1 {
			right: 80%;
		}
		&._2 {
			right: 60%;
		}
		&._3 {
			right: 40%;
		}
		&._4 {
			right: 20%;
		}
		&:hover {
			z-index: 1;
		}
		&._chosen {
			z-index: 0;
		}
		&:hover,
		&._chosen {
			width: 100%;

			&:after,
			&:before {
				width: 100%;
			}
		}
	}
}


