.freg {
	font-size: 0px;
	line-height: 0px;
	max-width: 960px;
	padding: 0px 20px;
	margin: -18px auto 0px;

	@mixin screen_to, $mobile {
		max-width: 520px;
		margin-top: -49px;
	}

	sup {
		color: #e61d2b;
	}

	/*#region [scheme][:]*/
	&_col {
		width: 100%;
		float: left;
		max-width: 420px;
	
		@mixin screen_to, $mobile {
			float: none;
			margin: 0px auto;
			max-width: 480px;
		}

		&._2 {
			float: right;
	
			@mixin screen_to, $mobile {
				float: none;
				margin-top: 18px;
			}
		}
	}
	&_block {
		&:after {
			width: 100%;
			content: '';
			display: table;
		}
	}
	/*#endregion [scheme][;]*/
	
	/*#region [object][:]*/
	&_lbl {
		display: block;
		padding-left: 10px;
		font: 18px/18px $f1sb;
		margin: 18px 0px 12px;

		&:first-child {
			margin-top: 0px;
		}
	}
	&_kids {
		&_btn {
			color: $c2;
			width: 40px;
			height: 40px;
			border-radius: 50%;
		
			@mixin screen_to, $mobile {
				width: 30px;
				height: 30px;
			}
	
			&:after,
			&:before {
				top: 50%;
				left: 50%;
				content: '';
				display: block;
				position: absolute;
				background: currentColor;
			}
			&:after {
				width: 2px;
				height: 20px;
	
				@mixin screen_to, $mobile {
					height: 16px;
				}
			}
			&:before {
				width: 20px;
				height: 2px;
	
				@mixin screen_to, $mobile {
					width: 16px;
				}
			}
	
			.txt {
				top: -1px;
				left: 100%;
				color: $c1;
				display: block;
				padding-left: 20px;
				position: absolute;
				font: 18px/40px $f1sb;
	
				@mixin screen_to, $mobile {
					line-height: 30px;
				}
			}
	
			&._add {
				display: block;
				margin-top: 40px;
				overflow: visible;
				border: 1px solid currentColor;
	
				@mixin screen_to, $mobile {
					margin-top: 20px;
				}
	
				&:after,
				&:before {
					transform: translate(-50%, -50%);
				}
	
				&:hover {
					color: $c1;
				}
			}
			&._rmv {
				top: 30px;
				left: 0px;
				background: $c1;
				position: absolute;
	
				@mixin screen_to, $mobile {
					top: 35px;
				}
	
				&:after,
				&:before {
					transform: translate(-50%, -50%) rotate(45deg);
				}
	
				&:hover {
					color: #e61d2b;
					background: #fff;
				}
			}
		}
		&_sex {
			height: 30px;
			cursor: pointer;
			margin-top: 35px;
			vertical-align: top;
			display: inline-block;
			font: 18px/30px $f1sb;
	
			@mixin screen_to, $mobile {
				font-size: 16px;
				margin-top: 20px;
			}

			& + & {
				margin-left: 40px;
	
				@mixin screen_to, $mobile {
					margin-left: 20px;
				}
			}
		}
		&_item {
			min-height: 40px;
			position: relative;
			padding-left: 60px;
		
			@mixin screen_to, $mobile {
				padding-left: 50px;
			}

			& + & {
				margin-top: 18px;
			}
		}
		&_cell {
			vertical-align: top;
			display: inline-block;

			&._1 {
				width: 280px;
	
				@mixin screen_to, $mobile {
					width: 100%;
				}
			}
			&._2 {
				width: 125px;
	
				@mixin screen_to, $mobile {
					width: 100%;
					margin-top: 18px;
				}
			}
			& + & {
				margin-left: 40px;
	
				@mixin screen_to, $mobile {
					margin-left: 0px;
				}
			}
		}
	}
	&_photo {
		color: $c2;
		width: 230px;
		height: 230px;
		display: block;
		cursor: pointer;
		position: relative;
		border-radius: 50%;
		border: 3px solid $c1;
		margin: 0px auto -27px;
		transition: color .2s ease-in-out-sine;
		background: #f5f0ea url('/assets/img/image/1.jpg') 50% no-repeat;
		background-size: cover;

		input {
			opacity: 0;
			right: 150%;
			bottom: 150%;
			position: absolute;
		}

		&_add {
			top: 10px;
			left: 100%;
			width: 27px;
			margin: 0px;
			padding: 0px;
			height: 27px;
			display: block;
			position: absolute;
			color: currentColor;

			&:after,
			&:before {
				content: '';
				display: block;
				position: absolute;
				border-radius: 3px;
				background: currentColor;
			}
			&:after {
				top: 0px;
				left: 12px;
				width: 3px;
				height: 27px;
			}
			&:before {
				top: 12px;
				left: 0px;
				width: 27px;
				height: 3px;
			}
		}
		&_txt {
			top: 50%;
			display: block;
			position: relative;
			font: 12px/18px $f1i;
			transform: translateY(-50%);
		}
		&_info {
			opacity: 0;
			width: 100%;
			height: 100%;
			color: #fff;
			position: absolute;
			text-align: center;
			visibility: hidden;
			border-radius: 50%;
			background: rgba(#000, .6);
			transition: all .2s ease-in-out-sine;
		}

		&:hover {
			color: $c1;

			^&_hint {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&_group {
		margin: 18px 0px 0px -20px;

		&_lbl {
			display: block;
			padding-left: 30px;
			margin-bottom: 12px;
			font: 18px/18px $f1sb;
		}
		&_cell {
			width: 33.33%;
			padding-left: 20px;
			vertical-align: top;
			display: inline-block;
	
			@mixin screen_to, $mobile {
				width: 50%;
			}

			&._3 {
				@mixin screen_to, $mobile {
					margin-top: 20px;
				}
			}
		}

		&:first-child {
			margin-top: 0px;
		}
	}
	&_title {
		text-align: left;
		font: 80px/80px $f2;
		margin: 30px auto 21px;

		&_hint {
			color: #b8b8b8;
			font: 12px/1 $f1sb;
			display: inline-block;
			vertical-align: baseline;
		}
	}
	&_agree {
		display: block;
		cursor: pointer;
		margin-top: 40px;
		padding-left: 5px;
		font: 18px/30px $f1;

		label {
			cursor: inherit;
		}

		& + & {
			margin-top: 20px;
		}
	}
	&_submit {
		width: 335px;
		height: 93px;
		font: 58px/94px $f2;
		margin: 40px auto 0px;

		@mixin screen_to, $mobile {
			width: 262px;
			height: 73px;
			font: 45px/74px $f2;
		}
	}
	/*#endregion [object][;]*/

}


