.ftest {
	padding: 0px 20px;
	max-width: 1020px;
	user-select: none;
	text-align: center;
	position: relative;
	margin: -6px auto 0px;

	@mixin screen_to, $mobile {
		max-width: 520px;
		margin-bottom: -50px;
	}

	&:after {
		top: -158px;
		z-index: 10;
		content: '';
		right: -70px;
		width: 311px;
		height: 221px;
		display: block;
		position: absolute;
		background: url('/assets/img/design/obj/hero_311x221@2x_2.png') no-repeat;
		background-size: contain;

		@mixin screen_to, $tablet {
			top: auto;
			right: 50%;
			z-index: -1;
			bottom: -126px;
			margin-right: -480px;
		}
		@mixin screen_to, $mobile {
			content: normal;
			right: 14px;
			bottom: auto;
			position: relative;
			margin: 30px auto 0px;
		}
	}

	/*#region [scheme][:]*/
	&_row {
		display: flex;
		flex-flow: wrap;
		justify-content: space-between;
	}
	&_step {
		display: none;

		@mixin screen_to, $mobile {
			padding-bottom: 41px;
		}

		&._active {
			display: block;
		}
		&:first-child {
			padding-bottom: 0px;

			&:after {
				@mixin screen_to, $mobile {
					top: auto;
					right: 14px;
					content: '';
					width: 311px;
					height: 221px;
					display: block;
					position: relative;
					margin: 30px auto 0px;
					background: url('/assets/img/design/obj/hero_311x221@2x_2.png') no-repeat;
					background-size: contain;
				}
			}
		}
	}
	&_hide {
		display: none;
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_item {
		width: 190px;
		z-index: 100;
		display: flex;
		cursor: pointer;
		flex-flow: column;
		background: #fff;
		position: relative;
		border-radius: 10px;
		padding: 86px 15px 84px;
		justify-content: center;
		transition: all .2s ease-out-sine;
		box-shadow: 0px 8px 20px rgba($c1, .3);

		@mixin screen_to, $mobile {
			margin-top: 20px;
			word-spacing: -1px;
			width: calc(50% - 10px);
			padding: 54px 10px 60px;
		}

		.radio,
		.checkbox {
			left: 50%;
			bottom: 30px;
			position: absolute;
			margin-left: -15px;

			@mixin screen_to, $mobile {
				bottom: 20px;
			}
		}

		&_num {
			top: 20px;
			left: 0px;
			width: 100%;
			display: block;
			position: absolute;
			font: 80px/46px $f2;
			
			@mixin screen_to, $mobile {
				top: 15px;
				font: 50px/28px $f2;
			}
		}
		&_name {
			display: block;
			font: 18px/24px $f1;

			@mixin screen_to, $mobile {
				font: 13px/18px $f1;
			}
		}

		&-active {
			box-shadow: 0px 1px 7px rgba($c1, .3);
		}
		&:nth-child(-n + 2) {
			margin-top: 0px;
		}
	}
	&_info {
		margin: 0px auto;
		max-width: 620px;
		font: 16px/24px $f1;

		a {
			color: $c3;
		}
	}
	&_bonus {
		display: flex;
		flex-flow: wrap;
		max-width: 340px;
		margin: 22px auto -23px;
		justify-content: space-between;

		@mixin screen_to, $mobile {
			margin-bottom: 0px;
		}

		&_val {
			color: $c3;
			display: block;
			font: 45px/26px $f2;
		}
		&_lbl {
			display: block;
			font: 12px/1 $f1;
			margin-top: 11px;
		}
		&_item {
			width: 148px;

			@mixin screen_to, $mobile {
				width: 130px;
			}
		}
	}
	&_button {
		width: 222px;
		height: 74px;
		font: 58px/74px $f2;
		margin: 60px auto 0px;
		transition: all .2s ease-out-sine;

		@mixin screen_to, $mobile {
			margin-top: 30px;
		}

		&:disabled {
			opacity: .6;
			cursor: default;

			&:hover {
				color: $c1;
			}
		}
	}
	/*#endregion [object][;]*/

}