.s1 {

	/*#region [scheme][:]*/
	&_item {
		&:after {
			background-image: url('/assets/img/image/smain/bg/1_1.jpg');
	
			@mixin screen_to, $mobile {
				margin-left: -200px;
			}
		}
		&:before {
			background-image: url('/assets/img/image/smain/bg/1_0.jpg');
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_txt {
		color: $c1;
		display: block;

		strong {
			color: $c2;
			font-family: $f2;
			text-shadow: 0px 3px 0px rgba(#0e3c5e, .72);
		}
		
		&._1 {
			font: 80px/60px $f2;

			@mixin screen_to, $mobile {
				font: 56px/36px $f2;
			}
		}
		&._2 {
			margin-top: 5px;
			font: 60px/40px $f2;

			@mixin screen_to, $mobile {
				margin-top: 11px;
				font: 42px/22px $f2;
			}
		}
	}
	&_bit {
		opacity: 0;
		position: absolute;
		background: 50% no-repeat;
		transition: all .6s ease-out-back;
		transform: translateY(-250px) scale(.8) rotate(180deg);
		background-size: contain;

		&_1 {
			top: 68px;
			left: 580px;
			width: 56px;
			width: 58px;
			height: 58px;
			background-image: url('/assets/img/image/smain/obj/1/1.svg');
		}
		&_2 {
			top: 143px;
			width: 55px;
			width: 56px;
			left: 1009px;
			height: 56px;
			transition-delay: .2s;
			background-image: url('/assets/img/image/smain/obj/1/1.svg');
		}
		&_3 {
			top: 330px;
			width: 71px;
			width: 70px;
			left: 1084px;
			height: 70px;
			transition-delay: .3s;
			background-image: url('/assets/img/image/smain/obj/1/2.svg');
		}
		&_4 {
			top: 335px;
			left: 649px;
			width: 39px;
			height: 39px;
			transition-delay: .4s;
			background-image: url('/assets/img/image/smain/obj/1/2.svg');
		}
	}
	&_info {
		left: 108px;
		transform: scale(1.06) translateX(-10%);

		@mixin screen_to, $mobile {
			top: 96px;
			transform: none;
		}
	}
	&_hero {
		left: 90px;
		bottom: 0px;
		width: 216px;
		height: 278px;
		transform-origin: 58px 100%;
		background-image: url('/assets/img/image/smain/hero/1.png');

		@mixin screen_to, $mobile {
			top: 20px;
			left: 50%;
			width: 136px;
			bottom: auto;
			height: 175px;
			margin-left: -68px;
		}
	}
	&_layer {
		&_1 {
			opacity: 0;
			transition: all 1s ease-in-out-sine .2s;
			background-image: url('/assets/img/image/smain/bg/1_2.png');
		}
	}
	/*#endregion [object][;]*/

}

.sm_item_show {
	.s1 {
		&_bit {
			opacity: 1;
			transform: none;

			&_1 {
				transform: rotate(200deg);
			}
			&_4 {
				transform: rotate(150deg);
			}
		}
		&_layer {
			&_1 {
				opacity: 1;
			}
		}
	}
}


