.s3 {

	/*#region [scheme][:]*/
	&_item {
		&:after {
			background-image: url('/assets/img/image/smain/bg/3_1.jpg');
	
			@mixin screen_to, $mobile {
				margin-left: -300px;
			}
		}
		&:before {
			background-image: url('/assets/img/image/smain/bg/3_0.jpg');
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_txt {
		color: $c1;
		display: block;
		font: 80px/60px $f2;

		@mixin screen_to, $mobile {
			font: 56px/30px $f2;
		}
		
		&._2 {
			color: $c2;
			margin: -14px 0px 0px -4px;
			text-shadow: 0px 3px 0px rgba(#0e3c5e, .72);

			@mixin screen_to, $mobile {
				margin: 0px 0px 0px -4px;
			}
		}
	}
	&_bit {
		opacity: 0;
		color: #fff;
		font-family: $f2;
		position: absolute;
		transition: all .6s ease-out-back;
		transform: rotate(180deg) scale(.2);

		&_1 {
			color: $c2;
			top: 100px;
			left: 1068px;
			font-size: 88px;
		}
		&_2 {
			top: 102px;
			left: 644px;
			font-size: 80px;
			transition-delay: .1s;
		}
		&_3 {
			color: $c2;
			top: 138px;
			left: 754px;
			font-size: 82px;
			transition-delay: .2s;
		}
		&_4 {
			top: 176px;
			left: 1148px;
			font-size: 114px;
			transition-delay: .3s;
		}
		&_5 {
			top: 242px;
			left: 728px;
			font-size: 116px;
			transition-delay: .4s;
		}
		&_6 {
			color: $c2;
			top: 308px;
			left: 1098px;
			font-size: 80px;
			transition-delay: .5s;
		}
		&_7 {
			color: $c2;
			top: 298px;
			left: 646px;
			font-size: 114px;
			transition-delay: .6s;
		}
		&_8 {
			top: 310px;
			left: 998px;
			font-size: 88px;
			transition-delay: .7s;
		}
	}
	&_info {
		left: 192px;
		width: 415px;
		height: 329px;
		padding: 71px 0px 0px 42px;
		transform: scale(1.06) translateX(-10%);

		@mixin screen_to, $mobile {
			top: 96px;
			transform: none;
			padding: 50px 0px 0px 30px;
		}
	}
	&_hero {
		left: 128px;
		bottom: 4px;
		width: 220px;
		height: 316px;
		transform-origin: 87px 100%;
		background-image: url('/assets/img/image/smain/hero/3.png');

		@mixin screen_to, $mobile {
			top: 20px;
			left: 50%;
			width: 145px;
			bottom: auto;
			height: 208px;
			margin-left: -73px;
		}
	}
	&_layer {
		&_1 {
			opacity: 0;
			transition: all 1s ease-in-out-sine .2s;
			background-image: url('/assets/img/image/smain/bg/3_2.png');
		}
	}
	/*#endregion [object][;]*/

}

.sm_item_show {
	.s3 {
		&_bit {
			opacity: 1;
			transform: none;

			&_1 {
				transform: rotate(15deg);
			}
			&_2 {
				transform: rotate(5deg);
			}
			&_3 {
				transform: rotate(-15deg);
			}
			&_4 {
				transform: rotate(22deg);
			}
			&_5 {
				transform: rotate(-25deg);
			}
			&_6 {
				transform: rotate(12deg);
			}
			&_7 {
				transform: rotate(-10deg);
			}
		}
		&_layer {
			&_1 {
				opacity: 1;
			}
		}
	}
}


