.s2 {

	/*#region [scheme][:]*/
	&_item {
		&:after {
			background-image: url('/assets/img/image/smain/bg/2_1.jpg');
	
			@mixin screen_to, $mobile {
				margin-left: 158px;
				background-position-y: -60px;
			}
		}
		&:before {
			background-position-y: -60px;
			background-image: url('/assets/img/image/smain/bg/2_0.jpg');
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_txt {
		color: $c1;
		display: block;
		font: 60px/40px $f2;

		@mixin screen_to, $mobile {
			font: 45px/34px $f2;
		}

		&._1 {
			color: $c2;
			font: 80px/60px $f2;
			text-shadow: 0px 3px 0px rgba(#0e3c5e, .72);

			@mixin screen_to, $mobile {
				font: 56px/36px $f2;
			}
		}
		&._2 {
			margin-top: 5px;

			@mixin screen_to, $mobile {
				color: #fff;
				margin-top: 2px;
			}
		}
		&._3 {
			margin: 5px 0px 0px 50px;

			@mixin screen_to, $mobile {
				color: #fff;
				margin: 0px 0px 0px 36px;
			}
		}
	}
	&_bit {
		opacity: 0;
		position: absolute;
		background-size: contain;
		background-repeat: no-repeat;
		transition: all .6s ease-out-back;

		&_1 {
			top: 52px;
			width: 46px;
			height: 43px;
			left: 1128px;
			transition-delay: .9s;
			transform: rotate(100deg) scale(.4);
			background-image: url('/assets/img/image/smain/obj/2/1.svg');
		}
		&_2 {
			top: 68px;
			left: 508px;
			width: 34px;
			height: 34px;
			transform: scale(.4);
			transform-origin: 14px 22px;
			background-image: url('/assets/img/image/smain/obj/2/2.svg');
		}
		&_3 {
			top: 86px;
			left: 108px;
			width: 53px;
			height: 54px;
			transition-delay: .8s;
			transform: rotate(-100deg) scale(.4);
			background-image: url('/assets/img/image/smain/obj/2/3.svg');
		}
		&_4 {
			top: 162px;
			left: 292px;
			width: 60px;
			height: 58px;
			transform: scale(.4);
			transition-delay: .7s;
			background-image: url('/assets/img/image/smain/obj/2/4.svg');
		}
		&_5 {
			top: 186px;
			left: 124px;
			width: 91px;
			height: 91px;
			transition-delay: .6s;
			transform: rotate(100deg) scale(.4);
			background-image: url('/assets/img/image/smain/obj/2/1.svg');
		}
		&_6 {
			top: 342px;
			left: 670px;
			width: 59px;
			height: 60px;
			transition-delay: .5s;
			transform-origin: 58px 52px;
			transform: translate(25%, 25%) rotate(-4deg) scale(.4);
			background-image: url('/assets/img/image/smain/obj/2/1.svg');
		}
		&_7 {
			top: 396px;
			left: 780px;
			width: 31px;
			height: 32px;
			transition-delay: .4s;
			transform-origin: 29px 28px;
			transform: translate(20%, 20%) scale(.4);
			background-image: url('/assets/img/image/smain/obj/2/3.svg');
		}
		&_8 {
			top: 450px;
			left: 770px;
			width: 13px;
			height: 14px;
			transition-delay: .3s;
			transform-origin: 9px 14px;
			transform: translate(20%, 20%) rotate(25deg) scale(.4);
			background-image: url('/assets/img/image/smain/obj/2/5.svg');
		}
	}
	&_btn {
		transform: scale(1.06) translateX(10%);
	}
	&_info {
		left: 740px;
		transform: scale(1.06) translateX(10%);

		@mixin screen_to, $mobile {
			top: 96px;
			transform: none;
		}
	}
	&_hero {
		left: 806px;
		bottom: 26px;
		width: 270px;
		height: 216px;
		transform-origin: 204px 100%;
		background-image: url('/assets/img/image/smain/hero/2.png');

		@mixin screen_to, $mobile {
			top: 20px;
			left: 50%;
			width: 175px;
			bottom: auto;
			height: 140px;
			margin-left: -88px;
		}
	}
	&_layer {
		&_1 {
			opacity: 0;
			transition: all 1s ease-in-out-sine .2s;
			background-image: url('/assets/img/image/smain/bg/2_2.png');
		}
	}
	/*#endregion [object][;]*/

}

.sm_item_show {
	.s2 {
		&_bit {
			opacity: 1;
			transform: none;

			&_1 {
				transform: rotate(-25deg);
			}
			&_2 {
				transform: none;
			}
			&_3 {
				transform: rotate(-16deg);
			}
			&_4 {
				transform: none;
			}
			&_5 {
				transform: rotate(20deg);
			}
			&_6 {
				transform: rotate(-4deg);
			}
			&_7 {
				transform: none;
			}
			&_8 {
				transform: rotate(25deg);
			}
		}
		&_layer {
			&_1 {
				opacity: 1;
			}
		}
	}
}


