.htest {
	color: #fff;
	overflow: hidden;
	min-height: 380px;
	position: relative;
	text-align: center;
	margin: -116px 0px 52px;
	padding: 100px 20px 56px;
	background: #549cbd 50% no-repeat;
	background-image: radial-gradient(circle, rgba(#6bb9dd, 1) 0%, rgba(#6bb9dd, 0) 100%);
	background-size: auto 100%;
	
	@mixin screen_to, $mobile {
		min-height: 260px;
		padding: 68px 20px 56px;
	}

	&:after {
		left: 0px;
		width: 100%;
		bottom: 0px;
		z-index: 10;
		content: '';
		height: 56px;
		display: block;
		position: absolute;
		background: url('/assets/img/design/bg/wave_top_1.svg') 50% 0% repeat-x;
		background-size: 1280px 284px;
	}

	/*#region [scheme][:]*/
	&_step {
		display: none;
		margin: 0px auto;
		max-width: 660px;

		&._active {
			display: block;
		}
	}
	&_scene {
		top: 0px;
		left: 50%;
		width: 1280px;
		position: absolute;
		transform: translateX(-50%);
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_num {
		position: relative;
		vertical-align: top;
		font: 108px/62px $f2;
		display: inline-block;

		&:after,
		&:before {
			content: '';
			display: block;
			position: absolute;
		}
		&:after {
			top: 0px;
			left: 100%;
			width: 36px;
			height: 30px;
			margin-left: 22px;
			background-image: url('/assets/img/design/obj/quote_r_2.svg');
		}
		&:before {
			top: 0px;
			right: 100%;
			width: 22px;
			height: 27px;
			margin-right: 36px;
			background-image: url('/assets/img/design/obj/quote_l_2.svg');
		}
	}
	&_title {
		position: relative;
		vertical-align: top;
		font: 140px/82px $f2;
		display: inline-block;
		
		@mixin screen_to, $mobile {
			font: 80px/48px $f2;
		}

		&:after,
		&:before {
			content: '';
			display: block;
			position: absolute;
		}
		&:after {
			top: 1px;
			left: 100%;
			width: 43px;
			height: 36px;
			margin-left: 44px;
			background-image: url('/assets/img/design/obj/quote_r_2.svg');

			@mixin screen_to, $mobile {
				top: 19px;
				width: 32px;
				height: 27px;
			}
		}
		&:before {
			top: 0px;
			right: 100%;
			width: 25px;
			height: 32px;
			margin-right: 64px;
			background-image: url('/assets/img/design/obj/quote_l_2.svg');

			@mixin screen_to, $mobile {
				top: 5px;
				width: 19px;
				height: 24px;
				margin-right: 58px;
			}
		}
	}
	&_cloud {
		font: 0/1 'ico';
		position: absolute;
		transition: all .4s ease-out-sine;

		&-1 {
			top: -51px;
			left: 209px;
			font-size: 143px;

			&:after {
				content: '\e806';
			}
		}
		&-2 {
			top: 64px;
			left: 53px;
			font-size: 56px;

			&:after {
				content: '\e805';
			}
		}
		&-3 {
			top: 147px;
			left: 31px;
			font-size: 159px;

			&:after {
				content: '\e807';
			}
		}
		&-4 {
			top: 18px;
			right: 213px;
			font-size: 139px;

			&:after {
				content: '\e808';
			}
		}
		&-5 {
			top: 66px;
			right: 77px;
			font-size: 56px;

			&:after {
				content: '\e809';
			}
		}
		&-6 {
			top: 158px;
			right: -18px;
			font-size: 134px;

			&:after {
				content: '\e806';
			}
		}
	}
	&_subtitle {
		display: block;
		font: 80px/48px $f2;
		padding-bottom: 40px;
		
		@mixin screen_to, $mobile {
			margin-top: 12px;
			padding-bottom: 9px;
			font: 50px/32px $f2;
		}
	}
	&_question {
		display: block;
		margin-top: 13px;
		font: 68px/46px $f2;
		padding-bottom: 36px;
		
		@mixin screen_to, $mobile {
			margin-top: 14px;
			font: 50px/32px $f2;
			padding-bottom: 9px;
		}
	}
	/*#endregion [object][;]*/

	&-scene2 {
		^&_cloud {
			&-1,
			&-4 {
				opacity: 0;
				visibility: hidden;
				transform: scale(0);
			}
			&-2 {
				top: 216px;
				left: 208px;
			}
			&-3 {
				top: 4px;
				left: 20px;
			}
			&-5 {
				top: 68px;
				right: 261px;
			}
			&-6 {
				top: 110px;
			}
		}
	}
}