.huser {
	font-size: 0px;
	line-height: 0px;
	min-height: 485px;
	padding-top: 85px;
	margin-top: -116px;
	position: relative;
	background: url('/assets/img/design/bg/user_1.jpg') 50% 100% no-repeat;

	@mixin screen_to, $mobile {
		padding: 67px 0px 143px;
		background-position-x: 40%;
	}

	/*#region [scheme][:]*/
	&_wrap {
		width: 100%;
		display: table;
		margin: 0px auto;
		max-width: 690px;
		padding: 0px 20px;

		@mixin screen_to, $mobile {
			max-width: 520px;
		}
	}
	&_column {
		display: table-cell;
		vertical-align: top;

		@mixin screen_to, $mobile {
			display: block;
			text-align: center;
		}

		&._1 {
			width: 230px;

			@mixin screen_to, $mobile {
				width: auto;
			}
		}
		&._2 {
			padding: 8px 0px 158px 30px;

			@mixin screen_to, $mobile {
				padding: 0px;
			}
		}
	}
	/*#endregion [scheme][;]*/
	
	/*#region [object][:]*/
	&_edit {
		width: 160px;
		display: block;
		margin: 20px auto 0px;

		@mixin screen_to, $mobile {
			left: 50%;
			bottom: 85px;
			position: absolute;
			margin: 0px 0px 0px -80px;
		}
	}
	&_name {
		display: block;
		font: 60px/60px $f2;
	}
	&_kids {
		display: block;
		margin-top: 7px;
		font: 18px/26px $f1bd;
		text-transform: uppercase;
	}
	&_shop {
		font: 14px/22px $f1;
	}
	&_score {
		margin: 12px 0px 10px;

		@mixin screen_to, $mobile {
			margin: 12px 0px 11px;
		}

		&_1 {
			color: $c3;
			position: relative;
			font: 74px/44px $f2;
			display: inline-block;
			vertical-align: bottom;
		}
		&_2 {
			margin-left: 8px;
			font: 20px/16px $f1sb;
			display: inline-block;
			vertical-align: bottom;

			@mixin screen_to, $mobile {
				display: block;
				margin-top: 14px;
			}
		}
	}
	&_photo {
		width: 230px;
		height: 230px;
		margin: 0px auto;
		position: relative;
		border-radius: 50%;
		border: 3px solid $c1;
		background: #f5f0ea no-repeat;
		background-size: contain;
	}
	&_address {
		display: block;
		margin-top: 1px;
		font: 18px/26px $f1;
	}
	/*#endregion [object][;]*/

}


