.mbeep {
	margin: 27px 0px 23px;

	@mixin screen_to, $mobile {
		margin: 0px 0px 0px;
	}

	&_ico {
		height: 30px;
		color: #fff;
		overflow: hidden;
		margin-right: 9px;
		position: relative;
		text-align: center;
		vertical-align: top;
		display: inline-block;
		font: 30px/30px 'ico';
		transition: all .2s ease-out-sine;

		@mixin screen_to, $mobile {
			width: 30px;
			height: 28px;
			font: 26px/28px 'ico';
		}

		&:after {
			display: block;
		}

		&._ph {
			&:after {
				content: '\e815';
			}
		}
		&._vk {
			font-size: 22px;

			@mixin screen_to, $mobile {
				font-size: 17px;
			}

			&:after {
				content: '\e813';
			}
		}
		&._ml {
			font-size: 21px;

			@mixin screen_to, $mobile {
				font-size: 18px;
			}

			&:after {
				content: '\e814';
			}
		}
	}
	&_txt {
		height: 30px;
		text-align: left;
		vertical-align: top;
		font: 17px/30px $f1;
		display: inline-block;

		@mixin screen_to, $mobile {
			height: 28px;
			min-width: 160px;
			font: 14px/28px $f1sb;
		}
	}
	&_link {
		color: $c1;
		border: none;
		vertical-align: top;
		display: inline-block;

		@mixin screen_to, $mobile {
			display: block;
		}

		& + & {
			margin-left: 100px;

			@mixin screen_to, $mobile {
				margin: 10px 0px 0px;
			}
		}
		&:hover {
			color: $c1;

			^^&_ico {
				color: $c1;
			}
		}
		&[href^="tel:"] {
			color: $c1;
		}
	}
}


