.mfoot {
	text-align: center;

	@mixin screen_to, $mobile {
		display: none;
	}

	ul {
		margin: 0px;
		padding: 0px;
	}
	li {
		margin: 0px;
		padding: 0px;
		vertical-align: top;
		display: inline-block;

		& + li {
			margin-left: 25px;
		}
		&:before {
			content: normal;
		}
	}
	&_link {
		border: none;
		color: #fff;
		display: block;
		font: 19px/22px $f1sb;

		&:hover,
		&._active {
			color: $c1;
		}
	}
}


