.mlogin {
	margin: 0px 0px 0px;

	&_svg {
		width: 100%;
		height: 100%;

		use {
			transition: all .2s ease-out-sine;
		}

		&_1 {
			fill: $c1;
		}
		&_2 {
			fill: currentColor;
		}
	}
	&_link {
		color: $c2;
		height: 30px;
		border: none;
		transition: none;
		vertical-align: top;
		display: inline-block;

		& + & {
			margin-left: 40px;
		}
		&._vk {
			width: 34px;
		}
		&._ok {
			width: 16px;
		}
		&._fb {
			width: 16px;
		}
		&._tw {
			width: 26px;
		}
		&:hover {
			&._vk {
				color: $vk;

				^^^&_svg {
					&_1 {
						fill: rgba($vk, .4);
					}
				}
			}
			&._ok {
				color: $ok;

				^^^&_svg {
					&_1 {
						fill: rgba($ok, .4);
					}
				}
			}
			&._fb {
				color: $fb;

				^^^&_svg {
					&_1 {
						fill: rgba($fb, .4);
					}
				}
			}
			&._tw {
				color: $tw;

				^^^&_svg {
					&_1 {
						fill: rgba($tw, .4);
					}
				}
			}
			&._st {
				color: $st;

				^^^&_svg {
					&_1 {
						fill: rgba($st, .4);
					}
				}
			}
		}
	}
}