.mmain {
	padding: 0px 20px;
	margin: 41px 0px 0px 237px;

	@mixin screen_to, $tablet {
		margin: 34px 0px 0px 194px;
	}
	@mixin screen_to, $mobile {
		margin: 0px;
		padding: 0px;
	}

	li {
		margin: 0px;
		padding: 0px;

		&:before {
			content: normal;
		}
	}

	&_ul {
		&1 {
			margin: 0px;
			padding: 0px;

			@mixin screen_to, $mobile {
				padding: 0px 20px;
			}
		}
		&2 {
			top: 100%;
			opacity: 0;
			left: -10px;
			text-align: left;
			position: absolute;
			visibility: hidden;
			background: #fff;
			border-radius: 8px;
			white-space: nowrap;
			margin: 9px 0px 0px;
			padding: 7px 25px 8px;
			transform: translate(5px, 5px);
			box-shadow: 4px 4px 12px 0px rgba(#000, .2);
			transition:
				opacity .3s ease-out-sine .3s,
				transform .3s ease-out-sine .3s,
				visibility .3s ease-out-sine .3s;

			@mixin screen_to, $tablet {
				padding: 6px 20px 7px;
			}
			@mixin screen_to, $mobile {
				top: auto;
				left: auto;
				opacity: 1;
				display: none;
				transform: none;
				transition: none;
				box-shadow: none;
				margin: 0px -20px;
				padding: 0px 20px;
				border-radius: 0px;
				position: relative;
				visibility: visible;
				background: #ffd440;
			}

			&:after {
				left: 0px;
				width: 100%;
				height: 9px;
				content: '';
				bottom: 100%;
				display: block;
				position: absolute;

				@mixin screen_to, $mobile {
					content: normal;
				}
			}

			&._open {
				display: block;
			}
		}
	}
	&_li {
		&1 {
			position: relative;
			vertical-align: top;
			display: inline-block;
			transform: perspective(1px);

			@mixin screen_to, $mobile {
				display: block;
				padding: 25px 10px 0px;
			}

			& + & {
				margin-left: 40px;

				@mixin screen_to, $tablet {
					margin-left: 36px;
				}
				@mixin screen_to, $mobile {
					margin-left: 0px;
				}
			}
			&:hover {
				^^^&_ul2 {
					@mixin screen_from, $mobile {
						opacity: 1;
						transform: none;
						visibility: visible;
						transition-delay: .15s;
					}
				}
				^^^&_lnk1 {
					@mixin screen_from, $mobile {
						color: #fff;
					}
				}
			}
		}
		&2 {
			& + & {
				@mixin screen_from, $mobile {
					border-top: 1px solid #bfd3e2;
				}
			}
		}
	}
	&_lnk {
		&1 {
			color: $c1;
			border: none;
			display: block;
			cursor: pointer;
			position: relative;
			font: 18px/24px $f1sb;
			transition: color .3s ease-out-sine;

			@mixin screen_to, $tablet {
				font-size: 15px;
			}
			@mixin screen_to, $mobile {
				font-size: 18px;
				padding: 7px 0px 6px;
			}

			&:after {
				width: 8px;
				height: 8px;
				display: inline-block;
				vertical-align: middle;
				margin: -4px 0px 0px 8px;
				border: 0px solid currentColor;
				transition: transform .3s ease-out-sine;
				transform: perspective(1000px) rotate(45deg);
				border-width: 0px 2px 2px 0px;

				@mixin screen_to, $mobile {
					top: 50%;
					right: 7px;
					position: absolute;
				}
			}
			&:before {
				top: 100%;
				left: 0px;
				width: 100%;
				height: 1px;
				display: block;
				position: absolute;
				background: #beaa34;

				@mixin screen_to, $mobile {
					content: '';
				}
			}

			&._sub {
				&:after {
					content: '';
				}
			}
			&._open {
				&:after {
					transform: perspective(1000px) translateY(4px) rotate(-45deg) rotateX(180deg);
				}
			}
			&:hover,
			&._active {
				@mixin screen_from, $mobile {
					color: #fff;
				}
			}
		}
		&2 {
			color: $c1;
			border: none;
			display: block;
			padding: 8px 0px 7px;
			font: 16px/20px $f1sb;

			@mixin screen_to, $tablet {
				font: 13px/18px $f1sb;
			}
			@mixin screen_to, $mobile {
				font: 16px/20px $f1sb;
			}

			&:hover,
			&._active {
				color: #001f35;
			}
		}
	}
}


