.mmobile {
	margin: 0px auto;

	@mixin screen_to, $mobile {
		overflow: hidden;
		max-width: 480px;
	}

	&_box {
		@mixin screen_to, $mobile {
			display: none;
			padding-top: 17px;
		}

		&._active {
			display: block;
		}
	}
	&_btn {
		top: 20px;
		width: 30px;
		height: 26px;
		display: none;

		@mixin screen_to, $mobile {
			display: block;
		}
	}
	&_user {
		color: $c1;
		right: 60px;
		position: absolute;
		font: 17px/26px 'ico';
		transition: all .2s ease-out-sine;

		&:after {
			content: '\e80a';
		}

		&._active {
			opacity: 0;
			visibility: hidden;
		}
	}
	&_open {
		color: $c1;
		right: 20px;
		position: absolute;

		.line,
		&:after,
		&:before {
			left: 50%;
			width: 100%;
			height: 4px;
			content: '';
			display: block;
			margin-left: -15px;
			border-radius: 4px;
			position: absolute;
			background: currentColor;
			transition: all .2s ease-out-sine;
		}
		.line {
			top: 11px;
		}
		&:after {
			bottom: 0px;
		}
		&:before {
			top: 0px;
		}

		&._active {
			.line {
				opacity: 0;
				transform: scale(0);
			}
			&:after {
				transform: translateY(-11px) rotate(45deg);
			}
			&:before {
				transform: translateY(11px) rotate(-45deg);
			}
		}
	}
}