.mnets {
	font-size: 0px;
	line-height: 0px;
	margin: 60px 0px;
	text-align: center;

	@mixin screen_to, $mobile {
		margin: 40px auto;
	}

	&_link {
		color: $c2;
		height: 50px;
		border: none;
		margin: 0px 30px;
		transition: none;
		vertical-align: top;
		display: inline-block;

		@mixin screen_to, $mobile {
			margin-top: 30px;
		}

		&:after {
			display: block;
			font: 46px/1 'ico';
			color: currentColor;
			text-shadow: 0px 2px 0px $c1;
			transition: all .2s ease-out-sine;
		}

		&._fb {
			&:after {
				content: '\e816';
			}
		}
		&._vk {
			&:after {
				content: '\e817';
			}
		}
		&._in {
			&:after {
				content: '\e818';
			}
		}
		&._tw {
			&:after {
				content: '\e819';
			}
		}
		&._ok {
			&:after {
				content: '\e81a';
			}
		}
		&._st {
			&:after {
				content: '\e81b';
			}
		}

		&:hover {
			&._fb {
				color: $fb;
				
				&:after {
					text-shadow: 0px 2px 0px rgba($fb, .4);
				}
			}
			&._vk {
				color: $vk;
				
				&:after {
					text-shadow: 0px 2px 0px rgba($vk, .4);
				}
			}
			&._in {
				color: $in;
				
				&:after {
					text-shadow: 0px 2px 0px rgba($in, .4);
				}
			}
			&._tw {
				color: $tw;
				
				&:after {
					text-shadow: 0px 2px 0px rgba($tw, .4);
				}
			}
			&._ok {
				color: $ok;
				
				&:after {
					text-shadow: 0px 2px 0px rgba($ok, .4);
				}
			}
			&._st {
				color: $st;
				
				&:after {
					text-shadow: 0px 2px 0px rgba($st, .4);
				}
			}
		}
	}
	&_title {
		color: $c1;
		display: block;
		margin-bottom: 6px;
		font: 18px/18px $f1sb;
	}

	&:last-child {
		margin-bottom: 0px;
	}
	&:first-child {
		margin-top: 0px;
	}
}


