.mnews {
	padding: 0px 13px;
	max-width: 1280px;
	font: 0/0 sans-serif;
	margin: 32px auto 14px;

	@mixin screen_to, $mobile {
		max-width: 480px;
		padding: 0px 5px;
	}

	&:after {
		width: 100%;
		content: '';
		display: table;
	}

	&_btn {
		color: $c1;
		height: 20px;
		font: 14px/20px $f1sb;
		margin: 16px 0px 0px 7px;

		@mixin screen_to, $mobile {
			margin-left: 5px;
		}

		&:after,
		&:before {
			vertical-align: top;
			display: inline-block;
			content: attr(data-show);
		}
		&:after {
			content: '\e801';
			margin-left: 10px;
			font: 6px/20px 'ico';
		}
		&:before {
			content: attr(data-show);
		}
		
		&._active {
			&:after {
				content: '\e800';
			}
			&:before {
				content: attr(data-hide);
			}
		}
	}
	&_link {
		color: $c1;
		height: 30px;
		padding: 0px 20px;
		vertical-align: top;
		border-radius: 30px;
		margin: 20px 7px 0px;
		display: inline-block;
		font: 14px/30px $f1sb;
		border: 1px solid $c2;
		transition: all .4s ease-out-sine;

		@mixin screen_to, $mobile {
			margin: 10px 5px 0px;
		}

		&:hover,
		&._active {
			background: $c2;
		}
	}
	&_more {
		display: none;

		&._active {
			display: inline;
		}
	}
}


