.mshop {
	font-size: 0px;
	max-width: 960px;
	line-height: 0px;
	margin: 0px auto;
	padding: 0px 20px;

	@mixin screen_to, $mobile {
		max-width: 520px;
	}

	&_wrap {
		padding: 6px;
		border-radius: 56px;
		border: 2px solid $c2;

		@mixin screen_to, $mobile {
			padding: 0px;
			border: none;
		}
	}
	&_link {
		width: 25%;
		border: none;
		text-align: center;
		font: 20px/40px $f1;
		vertical-align: top;
		display: inline-block;

		@mixin screen_to, $mobile {
			width: auto;
			display: block;
			line-height: 46px;
			border-radius: 56px;
			border: 2px solid $c2;
		}

		& + & {
			border-left: 1px solid $c2;

			@mixin screen_to, $mobile {
				margin-top: 20px;
				border-width: 2px;
			}
		}
		&:hover {
			border-color: $c2;

			@mixin screen_from, $mobile {
				color: $c2;
			}
		}
		&._active {
			font-family: $f1bd;

			@mixin screen_to, $mobile {
				background: $c2;
			}

			&:hover {
				color: $c1;
			}
		}
	}
}


