.msort {
	padding: 0px 20px;
	margin-bottom: 15px;
	font: 20px/20px $f1sb;

	@mixin screen_to, $mobile {
		font-size: 16px;
		text-align: center;
		margin-bottom: 18px;
	}

	&_lbl {
		color: #333;
		text-align: right;
		margin-right: 13px;
		vertical-align: top;
		display: inline-block;
		width: calc(50% - 10px);

		@mixin screen_to, $mobile {
			width: auto;
			display: block;
			text-align: center;
			margin: 0px 0px 5px;
		}
	}
	&_sep {
		height: 22px;
		margin: 0px 5px;
		font: 24px/24px $f1;
		vertical-align: top;
		display: inline-block;
	}
	&_link {
		position: relative;
		vertical-align: top;
		display: inline-block;
		text-shadow:
			1px 1px #f5f0ea,
			1px -1px #f5f0ea,
			-1px 1px #f5f0ea,
			-1px -1px #f5f0ea;

		&:after {
			top: 9px;
			left: 100%;
			display: block;
			margin-left: 5px;
			font: 6px/1 'ico';
			position: absolute;
		}

		& + & {
			margin-left: 5px;
		}
		&._asc {
			&:after {
				content: '\e801';
			}
		}
		&._desc {
			&:after {
				content: '\e800';
			}
		}
		&._active {
			margin-right: 15px;
		}
	}
}


