.mtags {
	overflow: hidden;
	max-width: 1280px;
	font: 0/0 sans-serif;
	margin: 23px -7px 40px;

	@mixin screen_to, $mobile {
		margin: 23px -5px 40px;
	}

	&:before {
		width: 100%;
		content: '';
		display: table;
		margin-top: -20px;

		@mixin screen_to, $mobile {
			margin-top: -10px;
		}
	}

	&_link {
		color: $c1;
		height: 30px;
		background: $c2;
		padding: 0px 20px;
		vertical-align: top;
		border-radius: 30px;
		margin: 20px 7px 0px;
		display: inline-block;
		font: 14px/30px $f1sb;
		border: 1px solid $c2;
		transition: all .4s ease-out-sine;

		@mixin screen_to, $mobile {
			margin: 10px 5px 0px;
		}

		&:hover {
			background: none;
			border-color: $c2;
		}
	}

	&:last-child {
		margin-bottom: 0px;
	}
	&:first-child {
		margin-top: 0px;
	}
}