.dclub {
	margin-top: -30px;

	@mixin screen_to, $mobile {
		margin-top: -20px;
	}

	&_row {
		width: 100%;
		display: table;
		padding: 24px 0px 13px;
		border-bottom: 1px solid $c2;

		@mixin screen_to, $mobile {
			padding: 16px 0px 14px;
		}
	}
	&_cell {
		display: table-cell;
		vertical-align: top;

		&._1 {
			font-family: $f1bd;
		}
		&._2 {
			text-align: right;
		}
	}
}


