p,
ol,
ul {
	margin: calc($p_idt - $p_top) 0px calc($p_idt - $p_bot);
	
	@mixin screen_to, $mobile {
		margin: calc($p_idt - $p_top_m) 0px calc($p_idt - $p_bot_m);
	}

	& + p,
	& + ol,
	& + ul {
		margin-top: -$p_top;
	}
	& + h1, & + .h1 {
		margin-top: calc($h1_idt - ($p_bot + $h1_top));
	}
	& + h2, & + .h2 {
		margin-top: calc($h2_idt - ($p_bot + $h2_top));
	}
	& + h3, & + .h3 {
		margin-top: calc($h3_idt - ($p_bot + $h3_top));
	}
	& + h4, & + .h4 {
		margin-top: calc($h4_idt - ($p_bot + $h4_top));
	}
	& + h5, & + .h5 {
		margin-top: calc($h5_idt - ($p_bot + $h5_top));
	}
	& + h6, & + .h6 {
		margin-top: calc($h6_idt - ($p_bot + $h6_top));
	}

	&:last-child {
		margin-bottom: 0px;
	}
	&:first-child {
		margin-top: 0px;
	}
}