ol,
ul {
	margin: 0px;
	padding: 0px;
	display: block;
	list-style: none;
	counter-reset: l1;

	ol,
	ul {
		padding-left: 20px;
	}
}
li {
	padding: 0px;
	position: relative;
	margin: 5px 0px 0px;

	&:before {
		margin-right: 10px;
		vertical-align: top;
		display: inline-block;
	}
	&:first-child {
		margin-top: 0px;
	}
	@if $debug == true {
		background-color: #48bec4;
	}
}
ol {
	li {
		&:before {
			font-family: $f1bd;
			counter-increment: l1;
			content: counter(l1)'.';
		}

		ol,
		ul {
			counter-reset: l2;

			li {
				&:before {
					counter-increment: l2;
					content: counter(l1)'.'counter(l2);
				}
			}
		}
	}
}
ul {
	li {
		&:before {
			width: 7px;
			height: 7px;
			content: '';
			background: $c2;
			margin-top: 10px;
			border-radius: 50%;

			@mixin screen_to, $mobile {
				margin-top: 6px;
			}
		}
	}
}