img {
	float: none;
	height: auto;
	display: block;
	max-width: 100%;
}
.image {
	margin: 40px 0px;

	img {
		margin: 0px auto;
	}
}
video,
iframe {
	display: block;
	margin: 0px auto;
}
figure {
	margin: 0px;
	padding: 0px;
	display: block;
}