th,
td {
	font-weight: normal;
	padding: 18px 15px 17px;
	border: 0px solid #ccdce8;

	&:last-child {
		padding-right: 0px;
	}
	&:first-child {
		padding-left: 0px;
	}
}
table {
	margin: 0px;
	border: none;
	text-align: center;
	border-collapse: collapse;

	&._main {
		width: 100%;

		th,
		td {
			border: none;
			text-align: center;
			vertical-align: top;
			border-right: 1px solid #ccdce8;
			border-bottom: 1px solid #ccdce8;

			&:last-child {
				border-right: none;
			}
		}
		th {
			&:first-child {
				text-align: left;
			}
		}
	}
}
._tb_bg {
	background: #f5f0ea;
}
._tb_bd {
	border-width: 1px;
}
._tb_bdt {
	border-top-width: 1px;
}
._tb_bdl {
	border-left-width: 1px;
}
._tb_bdr {
	border-right-width: 1px;
}
._tb_bdb {
	border-bottom-width: 1px;
}
._tb_fix {
	table-layout: fixed;
}
._tb_wide {
	width: 100%;
}