p {
	widows: 4;
	orphans: 3;
	margin: 0px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;

	&:empty {
		display: none;
	}
	br {
		& + br {
			display: none;
		}
	}

	@if $debug == true {
		background-color: #dbe79e;
	}
}
i,
em {
	font-family: $f1i;
	font-style: normal;

	b,
	strong {
		font-family: $f1bdi;
	}
	
}
b,
strong {
	font-family: $f1bd;
	font-weight: normal;

	i,
	em {
		font-family: $f1bdi;
	}
}

