h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	margin: 0px;
	font-style: normal;
	font-weight: normal;

	& + p,
	& + ol,
	& + ul {
		margin-top: -$p_top;

		@mixin screen_to, $mobile {
			margin-top: -$p_top_m;
		}
	}

	&:empty {
		display: none;
	}
	&:last-child {
		margin-bottom: 0px;
	}
}

h1, .h1 {
	text-align: center;
	font: $h1_sz/$h1_lh $h1_font;
	margin: -$h1_top 0px calc($h1_idt - $h1_bot);
	
	@mixin screen_to, $mobile {
		font: $h1_sz_m/$h1_lh_m $h1_font;
		margin: -$h1_top_m 0px calc($h1_idt_m - $h1_bot_m);
	}

	@if $debug == true {
		background-color: #8cade5;
	}

	span {
		color: $c2;
		display: block;
		text-shadow: 0px 3px 0px $c1;
	}
}
h2, .h2 {
	text-align: center;
	font: $h2_sz/$h2_lh $h2_font;
	margin: -$h2_top 0px calc($h2_idt - $h2_bot);

	@if $debug == true {
		background-color: #76fb3e;
	}
}
h3, .h3 {
	text-align: center;
	font: $h3_sz/$h3_lh $h3_font;
	margin: -$h3_top 0px calc($h3_idt - $h3_bot);
	
	@mixin screen_to, $mobile {
		font: $h3_sz_m/$h3_lh_m $h3_font;
		margin: -$h3_top_m 0px calc($h3_idt_m - $h3_bot_m);
	}
	
	@if $debug == true {
		background-color: #a96488;
	}
}
h4, .h4 {
	text-align: center;
	font: $h4_sz/$h4_lh $h4_font;
	margin: -$h4_top 0px calc($h4_idt - $h4_bot);
	
	@mixin screen_to, $mobile {
		font: $h4_sz_m/$h4_lh_m $h4_font;
		margin: -$h4_top_m 0px calc($h4_idt_m - $h4_bot_m);
	}

	@if $debug == true {
		background-color: #bbd639;
	}
}
h5, .h5 {
	text-align: center;
	font: $h5_sz/$h5_lh $h5_font;
	margin: -$h5_top 0px calc($h5_idt - $h5_bot);
	
	@mixin screen_to, $mobile {
		font: $h5_sz_m/$h5_lh_m $h5_font;
		margin: -$h5_top_m 0px calc($h5_idt_m - $h5_bot_m);
	}

	&._underline {
		padding-bottom: 10px;
		background: url('/assets/img/design/obj/line_3.svg') 50% 100% no-repeat;
		background-size: 211px 16px;
	}

	@if $debug == true {
		background-color: #e8cfd3;
	}
}
h6, .h6 {
	text-align: center;
	font: $h6_sz/$h6_lh $h6_font;
	margin: -$h6_top 0px calc($h6_idt - $h6_bot);

	@mixin screen_to, $mobile {
		font: $h6_sz_m/$h6_lh_m $h6_font;
		margin: -$h6_top_m 0px calc($h6_idt_m - $h6_bot_m);
	}

	@if $debug == true {
		background-color: #519449;
	}
}