.simage {
	font-size: 0px;
	line-height: 0px;
	margin: 60px auto;
	position: relative;

	@mixin screen_to, $mobile {
		margin: 40px auto;
	}

	&_prev {
		left: -80px;

		@mixin screen_to, $mobile {
			left: -20px;
		}

		&:after {
			transform: rotate(-45deg);
		}
		&:before {
			transform: rotate(45deg);
		}
	}
	&_next {
		right: -80px;

		@mixin screen_to, $mobile {
			right: -20px;
		}

		&:after {
			transform: rotate(45deg);
		}
		&:before {
			transform: rotate(-45deg);
		}
	}
	&_arrow {
		top: 50%;
		color: $c2;
		width: 30px;
		height: 50px;
		z-index: 100;
		padding: 0px;
		margin-top: -25px;
		position: absolute;
		transition: all .4s ease-out-sine;

		@mixin screen_to, $mobile {
			width: 20px;
			height: 20px;
			margin-top: -10px;
		}

		&:after,
		&:before {
			width: 8px;
			content: '';
			height: 36px;
			display: block;
			position: absolute;
			border-radius: 10px;
			background: currentColor;

			@mixin screen_to, $mobile {
				width: 3px;
				height: 14px;
			}
		}
		&:after {
			top: 16px;
			left: 11px;

			@mixin screen_to, $mobile {
				top: 7px;
				left: 8px;
			}
		}
		&:before {
			top: -4px;
			left: 11px;

			@mixin screen_to, $mobile {
				top: -1px;
				left: 8px;
			}
		}

		&:hover {
			color: $c1;
		}
	}

	&:last-child {
		margin-bottom: 0px;
	}
	&:first-child {
		margin-top: 0px;
	}
}