.smain {
	z-index: 150;
	font-size: 0px;
	line-height: 0px;
	user-select: none;
	margin-top: -116px;
	position: relative;

	@mixin screen_to, $mobile {
		margin-top: -163px;
	}

	/*#region [scheme][:]*/
	&_item {
		padding-bottom: 56px;

		@mixin screen_to, $mobile {
			padding-bottom: 180px;
		}

		&:after,
		&:before {
			top: 0px;
			z-index: 1;
			content: '';
			height: 586px;
			display: block;
			position: absolute;
			background-position: 50% 100%;
			
			@mixin screen_to, $mobile {
				height: 568px;
				background-position: 50% 0%;
			}
		}
		&:after {
			left: 50%;
			width: 1280px;
			transform: translateX(-50%);
		}
		&:before {
			left: 0px;
			width: 100%;
		}
	}
	&_view {
		height: 586px;
		margin: 0px auto;
		max-width: 1280px;
		position: relative;
			
		@mixin screen_to, $mobile {
			height: 568px;
		}
	}
	&_wave {
		left: 0px;
		z-index: 15;
		width: 100%;
		bottom: 0px;
		height: 125px;
		position: absolute;
		background: url('/assets/img/design/bg/wave_top_1.svg') 50% 0% repeat-x;
		background-size: 1280px 284px;

		@mixin screen_to, $mobile {
			height: 230px;
		}

		&_box {
			margin: 0px auto;
			min-height: 100%;
			max-width: 1280px;
			position: relative;
		}
	}
	/*#endregion [scheme][;]*/
	
	/*#region [object][:]*/
	&_btn {
		color: $c1;
		opacity: 0;
		top: 208px;
		left: 150px;
		width: 222px;
		height: 74px;
		border: none;
		display: block;
		position: absolute;
		text-align: center;
		font: 58px/76px $f2;
		text-transform: uppercase;
		padding: 0px 44px 0px 28px;
		transform: scale(1.06) translateX(-10%);
		filter: drop-shadow(0px 8px 20px rgba(#333, .34));
		background: url('/assets/img/design/btn/1_y.svg') 50% no-repeat;
		background-size: contain;
		transition: color .2s ease-out-sine,
					opacity .4s ease-in-out-sine .2s,
					transform .4s ease-in-out-sine .2s;

		@mixin screen_to, $mobile {
			top: 140px;
			opacity: 1;
			left: 108px;
			width: 158px;
			height: 53px;
			transform: none;
			font: 40px/56px $f2;
			padding: 0px 28px 0px 16px;
		}

		&:hover {
			color: #fff;
		}
	}
	&_info {
		top: 76px;
		opacity: 0;
		z-index: 10;
		width: 394px;
		height: 312px;
		word-spacing: 1px;
		position: absolute;
		letter-spacing: -.1px;
		padding: 55px 0px 0px 55px;
		transition: all .4s ease-in-out-sine;
		background: url('/assets/img/design/obj/cloud_w_1.svg') 50% no-repeat;
		background-size: contain;

		@mixin screen_to, $mobile {
			left: 50%;
			opacity: 1;
			width: 280px;
			height: 222px;
			margin-left: -140px;
			padding: 42px 0px 0px 40px;
		}
	}
	&_hero {
		opacity: 0;
		position: absolute;
		transform: scale(.85);
		background-size: contain;
		background-repeat: no-repeat;
		transition: all .4s ease-out-sine;

		@mixin screen_to, $mobile {
			opacity: 1;
			transform: none;
		}
	}
	&_layer {
		top: 0px;
		left: 50%;
		z-index: 2;
		height: 100%;
		width: 1280px;
		position: absolute;
		margin-left: -640px;
		background-size: cover;
		background-repeat: no-repeat;

		@mixin screen_to, $mobile {
			display: none;
		}
	}
	/*#endregion [object][;]*/

	/*#region [plugin][:]*/
	&_dots {
		left: 50%;
		margin: 0px;
		z-index: 10;
		padding: 5px;
		bottom: 230px;
		display: none;
		position: absolute;
		border-radius: 30px;
		transform: translateX(-50%);
		background: rgba(#fff, .6);

		@mixin screen_to, $mobile {
			display: block;
		}

		span {
			width: 10px;
			margin: 0px;
			height: 10px;
			padding: 0px;
			cursor: pointer;
			background: $c1;
			border-radius: 50%;
			vertical-align: top;
			display: inline-block;
			transition: all .2s ease-out-sine;

			& + span {
				margin-left: 10px;
			}
			&._active {
				background: $c2;
			}
		}
	}
	&_prev {
		left: 20px;

		&:after {
			transform: rotate(-45deg);
		}
		&:before {
			transform: rotate(45deg);
		}
	}
	&_next {
		right: 20px;

		&:after {
			transform: rotate(45deg);
		}
		&:before {
			transform: rotate(-45deg);
		}
	}
	&_arrow {
		top: 50%;
		color: $c2;
		width: 30px;
		height: 50px;
		z-index: 100;
		padding: 0px;
		margin-top: -53px;
		position: absolute;
		transition: all .4s ease-out-sine;

		@mixin screen_to, $mobile {
			display: none;
		}

		&:after,
		&:before {
			width: 8px;
			content: '';
			height: 36px;
			display: block;
			position: absolute;
			border-radius: 10px;
			background: currentColor;
		}
		&:after {
			top: 16px;
			left: 11px;
		}
		&:before {
			top: -4px;
			left: 11px;
		}

		&:hover {
			color: $c1;
		}
	}
	/*#endregion [plugin][;]*/

}

.sm_item_show {
	.smain {
		&_btn,
		&_info,
		&_hero,
		&_layer {
			opacity: 1;
			transform: none;
		}
	}
}


