
$debug: false;


$tablet: 1279px;
$mobile: 1023px;

$10: calc(100% / (1280 / 10));
$20: calc(100% / (1280 / 20));

/*#region [fonts][:]*/
$f1: 'SolomonSans', sans-serif;
$f1i: 'SolomonSans-Italic', sans-serif;
$f1bd: 'SolomonSans-Bold', sans-serif;
$f1bl: 'SolomonSans-Black', sans-serif;
$f1sb: 'SolomonSans-SemiBold', sans-serif;
$f1bdi: 'SolomonSans-Bold-Italic', sans-serif;
$f1sbi: 'SolomonSans-SemiBold-Italic', sans-serif;

$f2: 'Amalfi', sans-serif;

._fbold {
	font-family: $f1bd;
}
._fsbold {
	font-family: $f1sb;
}
/*#endregion [fonts][;]*/

/*#region [site color][:]*/
$c1: #00508c;
$c2: #fdc917;
$c3: #e84a37;

$chint: #e0e0e0;
$cerror: #e84a37;
$cvalid: #73b865;
/*#endregion [site color][;]*/

/*#region [nets color][:]*/
$vk: #45668e;
$ok: #ed812b;
$fb: #3b5998;
$tw: #1da1f2;
$in: #405de6;
$lk: #0077b5;
$tg: #0088cc;
$yt: #bb0000;
$gp: #dd4b39;
$lj: #004359;
$st: #00aae7;
/*#endregion [nets color][;]*/

/*#region [typography][:]*/

/*[p]*/
$p_idt: 30px;
$p_top: 6px;
$p_bot: 7px;
$p_top_m: 4px;
$p_bot_m: 6px;

/*[h1]*/
$h1_sz: 80px;
$h1_lh: 68px;
$h1_top: 11px;
$h1_bot: 11px;
$h1_idt: 60px;
$h1_font: $f2;

$h1_sz_m: 60px;
$h1_lh_m: 40px;
$h1_top_m: 3px;
$h1_bot_m: 3px;
$h1_idt_m: 40px;

/*[h2]*/
$h2_sz: 56px;
$h2_lh: 58px;
$h2_top: 13px;
$h2_bot: 13px;
$h2_idt: 40px;
$h2_font: $f2;

/*[h3]*/
$h3_sz: 24px;
$h3_lh: 32px;
$h3_top: 7px;
$h3_bot: 8px;
$h3_idt: 30px;
$h3_font: $f1bd;

$h3_sz_m: 22px;
$h3_lh_m: 30px;
$h3_top_m: 7px;
$h3_bot_m: 8px;
$h3_idt_m: 30px;

/*[h4]*/
$h4_sz: 22px;
$h4_lh: 30px;
$h4_top: 7px;
$h4_bot: 8px;
$h4_idt: 30px;
$h4_font: $f1bd;

$h4_sz_m: 20px;
$h4_lh_m: 28px;
$h4_top_m: 7px;
$h4_bot_m: 7px;
$h4_idt_m: 30px;

/*[h5]*/
$h5_sz: 20px;
$h5_lh: 28px;
$h5_top: 7px;
$h5_bot: 7px;
$h5_idt: 30px;
$h5_font: $f1bd;

$h5_sz_m: 18px;
$h5_lh_m: 26px;
$h5_top_m: 6px;
$h5_bot_m: 7px;
$h5_idt_m: 30px;

/*[h6]*/
$h6_sz: 18px;
$h6_lh: 26px;
$h6_top: 6px;
$h6_bot: 7px;
$h6_idt: 30px;
$h6_font: $f1bd;

$h6_sz_m: 14px;
$h6_lh_m: 20px;
$h6_top_m: 4px;
$h6_bot_m: 6px;
$h6_idt_m: 30px;

/*#endregion [typography][;]*/


