

.snews {
	margin: 60px auto;
	padding-left: 20px;
	max-width: calc((505px * 3) + 80px);

	@mixin screen_to, $mobile {
		padding: 0px;
		max-width: 480px;
		margin: 40px auto;
	}

	&_item {
		width: 505px;
		border: none;
		color: #fff;
		height: 276px;
		display: block;
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;

		@mixin screen_to, $mobile {
			width: 100%;
		}

		&_data {
			left: 0px;
			bottom: 0px;
			width: 100%;
			position: absolute;
			padding: 17px 20px 16px;
			background: rgba(#004f8c, .7);
		}
		&_name {
			display: block;
			font: 25px/26px $f1bl;

			@mixin screen_to, $mobile {
				font: 18px/22px $f1bl;
			}
		}
		&_info {
			display: block;
			margin-top: 1px;
			font: 20px/22px $f1;

			@mixin screen_to, $mobile {
				margin-top: 2px;
				font: 16px/20px $f1;
			}
		}

		&_txt {
			opacity: 0;
			display: block;
			transition: all .4s ease-in-out-sine;
	
			@mixin screen_to, $tablet {
				opacity: 1;
			}
	
			&._1 {
				color: #ffca01;
				font: 80px/68px $f2;
				margin-bottom: 16px;
				transform: translateY(-60px);
	
				@mixin screen_to, $tablet {
					transform: none;
				}
				@mixin screen_to, $mobile {
					margin-bottom: 17px;
				}
			}
			&._2 {
				font: 25px/26px $f1bl;
				transform: translateY(-40px);
	
				@mixin screen_to, $tablet {
					transform: none;
				}
				@mixin screen_to, $mobile {
					font: 18px/22px $f1bl;
				}
			}
			&._3 {
				margin-top: 7px;
				font: 20px/22px $f1;
				transform: translateY(-20px);
	
				@mixin screen_to, $tablet {
					transform: none;
				}
				@mixin screen_to, $mobile {
					font: 16px/20px $f1;
				}
			}
		}
	}
}


















