.alerts {
	padding: 0px 20px;

	@mixin screen_to, $mobile {
		max-width: 520px;
	}

	&_item {
		margin: 0px auto;
		max-width: 640px;
		font: 18px/26px $f1;
		padding: 24px 0px 23px;
		border-bottom: 1px solid $c2;

		@mixin screen_to, $mobile {
			font: 16px/24px $f1;
			padding: 24px 0px 23px;
		}

		&:first-child {
			margin-top: 10px;
		}
	}
}


