.beep {
	font-size: 0px;
	line-height: 0px;
	margin: 60px auto;
	text-align: center;

	@mixin screen_to, $mobile {
		margin: 40px auto;
	}

	a {
		color: $c1;
		font: 18px/26px $f1bd;
	}
	ul {
		margin: 0px;
		padding: 0px;
	}
	li {
		margin: 0px;
		padding: 0px;

		&:before {
			content: normal;
		}
	}

	&_lbl {
		display: block;
		margin-bottom: 4px;
		font: 18px/22px $f1;
	}
	&_cell {
		width: 33.33%;
		padding: 0px 30px;
		vertical-align: top;
		display: inline-block;

		@mixin screen_to, $mobile {
			width: 100%;
			padding: 0px;
			display: block;
		}

		& + & {
			@mixin screen_to, $mobile {
				margin-top: 29px;
			}
		}
	}
	&_title {
		font: 56px/56px $f2;
		margin: -12px 0px 24px;
	}

	&:last-child {
		margin-bottom: 0px;
	}
	&:first-child {
		margin-top: 0px;
	}
}


