.clubs {
	font-size: 0px;
	line-height: 0px;
	margin: 0px auto;
	padding: 0px 10px;
	max-width: 1280px;

	@mixin screen_to, $mobile {
		max-width: 520px;
		padding: 0px 20px;
	}

	&_img {
		width: 100%;
		display: block;
	}
	&_txt {
		width: 100%;
		margin-top: 20px;
		font: 18px/24px $f1;
		align-self: flex-end;

		@mixin screen_to, $tablet {
			font: 14px/20px $f1;
		}
		@mixin screen_to, $mobile {
			margin-top: 10px;
			font: 12px/18px $f1;
		}
	}
	&_item {
		border: none;
		position: relative;
		vertical-align: top;
		background: #e0e0e0;
		display: inline-block;
		margin: 20px 10px 0px;
		width: calc(50% - 20px);

		@mixin screen_to, $mobile {
			width: auto;
			display: block;
			margin: 20px 0px 0px;
		}

		&:hover {
			^^&_info {
				opacity: 1;
			}
		}
	}
	&_name {
		width: 100%;
		display: block;
		align-self: flex-end;
		font: 24px/26px $f1bl;

		@mixin screen_to, $tablet {
			font: 18px/22px $f1bl;
		}
	}
	&_info {
		top: 0px;
		left: 0px;
		content: '';
		height: 100%;
		color: #fff;
		display: flex;
		width: 65.575%;
		flex-flow: wrap;
		position: absolute;
		padding: 0px 30px 78px;
		align-content: flex-end;
		text-shadow: 1px 2px 3px #000;
		/*background: rgba($c1, .7);*/

		@mixin screen_to, $tablet {
			padding: 0px 20px 55px;
		}
		@mixin screen_to, $mobile {
			padding: 0px 10px 27px;
		}
	}
	&_rating {
		left: 30px;
		bottom: 30px;
		width: 160px;
		height: 24px;
		position: absolute;
		background: url('/assets/img/design/obj/star_1_1.svg') 0% 50% repeat-x;
		background-size: auto 100%;

		@mixin screen_to, $tablet {
			left: 20px;
			width: 132px;
			bottom: 20px;
			height: 20px;
		}
		@mixin screen_to, $mobile {
			left: 10px;
			width: 80px;
			bottom: 10px;
			height: 12px;
		}
		
		&_value {
			width: 0%;
			height: 100%;
			background: url('/assets/img/design/obj/star_1_2.svg') 0% 50% repeat-x;
			background-size: auto 100%;
		}
	}
}


