.comments {
	max-width: 620px;
	padding: 0px 20px;
	margin: 60px auto 0px;

	@mixin screen_to, $mobile {
		max-width: 520px;
	}

	&_item {
		display: flex;
		flex-flow: wrap;
		border-bottom: 1px solid $c2;

		@mixin screen_to, $mobile {
			display: block;
		}

		&_img {
			width: 85px;
			height: 85px;
			border-radius: 50%;
			border: 1px solid $c1;
			background-size: cover;
			background-repeat: no-repeat;

			@mixin screen_to, $mobile {
				margin: 0px auto 15px;
			}
		}
		&_body {
			margin-left: 40px;
			padding-bottom: 40px;
			width: calc(100% - (85px + 40px));

			@mixin screen_to, $mobile {
				margin: 0px;
				width: auto;
			}
		}
		&_user {
			display: block;
			font: 18px/24px $f1sb;

			@mixin screen_to, $mobile {
				font-size: 16px;
			}
		}
		&_text {
			font: 16px/24px $f1;
			margin-bottom: -7px;

			@mixin screen_to, $mobile {
				font: 14px/20px $f1;
			}

			p {
				margin: 8px 0px 0px;

				@mixin screen_to, $mobile {
					margin-top: 10px;
				}
			}
		}
		&_photo {
			margin: 40px auto 0px;
		}

		& + & {
			margin-top: 40px;
		}
	}
	&_title {
		color: $c1;
		text-align: center;
		font: 66px/66px $f2;
		margin: -15px 0px 26px;
	}
}