.goods {
	color: $c1;
	font-size: 0px;
	line-height: 0px;
	margin-top: 52px;
	text-align: center;

	&_type {
		margin: 20px 0px;
		font: 45px/46px $f2;
	}
	&_title {
		position: relative;
		font: 56px/58px $f2;
		padding-bottom: 9px;
		margin: 0px 0px 15px;
		display: inline-block;
		background: url('/assets/img/design/obj/line_1.svg') 50% 100% no-repeat;
		background-size: 123px 12px;

		&:after,
		&:before {
			content: '';
			display: block;
			position: absolute;
			background: 50% no-repeat;
			background-size: contain;
		}
		&:after {
			bottom: 2px;
			width: 15px;
			right: -25px;
			height: 16px;
			background-image: url('/assets/img/design/obj/quote_r_1.svg');
		}
		&:before {
			top: 0px;
			left: -29px;
			width: 19px;
			height: 21px;
			background-image: url('/assets/img/design/obj/quote_l_1.svg');
		}
	}
}


