.hero {
	font-size: 0px;
	line-height: 0px;
	overflow: hidden;
	user-select: none;
	padding: 0px 20px;
	min-height: 480px;
	position: relative;
	text-align: center;
	margin: -116px 0px 52px;
	background: 50% no-repeat;

	@mixin screen_to, $tablet {
		min-height: 440px;
	}
	@mixin screen_to, $mobile {
		margin-bottom: 32px;
	}

	&_box {
		width: 100%;
		height: 480px;
		display: table;
		margin: 0px auto;

		@mixin screen_to, $tablet {
			height: 440px;
		}
		@mixin screen_to, $mobile {
			max-width: 480px;
		}
	}
	&_data {
		display: table-cell;
		vertical-align: middle;
	}
	&_wave {
		left: 0px;
		z-index: 10;
		width: 100%;
		bottom: 0px;
		height: 56px;
		position: absolute;
		background: url('/assets/img/design/bg/wave_top_1.svg') 50% 0% repeat-x;
		background-size: 1280px 284px;
	}
	&_view {
		height: 586px;
		margin: 0px auto;
		overflow: hidden;
		max-width: 1280px;
		position: relative;
			
		@mixin screen_to, $mobile {
			height: 568px;
		}
	}
	&_layer {
		top: 0px;
		left: 50%;
		z-index: 2;
		height: 100%;
		width: 1280px;
		position: absolute;
		margin-left: -640px;
		background-size: cover;
		background-repeat: no-repeat;

		@mixin screen_to, $mobile {
			display: none;
		}
	}

	&._wave {
		&:after {
			left: 0px;
			z-index: 10;
			content: '';
			width: 100%;
			bottom: 0px;
			height: 56px;
			display: block;
			position: absolute;
			background: url('/assets/img/design/bg/wave_top_1.svg') 50% 0% repeat-x;
			background-size: 1280px 284px;
		}
	}
	&._custom {
		padding: 0px;
		margin-bottom: 13px;
	
		@mixin screen_to, $mobile {
			margin-bottom: 32px;
		}

		&:after,
		&:before {
			top: 0px;
			z-index: 1;
			content: '';
			height: 100%;
			display: block;
			position: absolute;
			background-position: 50% 100%;
			
			@mixin screen_to, $mobile {
				background-position: 50% 0%;
			}
		}
		&:after {
			left: 50%;
			width: 1280px;
			transform: translateX(-50%);
		}
		&:before {
			left: 0px;
			width: 100%;
		}
	}
}

.hr1 {
	background-image: url(/assets/img/image/hero/4.jpg);

	&_box {
		max-width: 720px;
	}
	&_data {
		color: #fff;
		font: 25px/35px $f1;
	
		@mixin screen_to, $mobile {
			font: 20px/28px $f1;
		}
	
		strong {
			color: $c2;
			font-family: $f1bd;
		}
	}
	&_title {
		margin-top: -20px;
		position: relative;
		vertical-align: top;
		display: inline-block;
		font: 115px/106px $f2;

		@mixin screen_to, $mobile {
			margin-top: 0px;
			font: 90px/80px $f2;
		}
	
		&:after,
		&:before {
			content: '';
			display: block;
			position: absolute;
			background: 50% no-repeat;
			background-size: contain;
		}
		&:after {
			top: 26px;
			width: 57px;
			height: 48px;
			right: -76px;
			background-image: url('/assets/img/design/obj/quote_r_2.svg');

			@mixin screen_to, $mobile {
				top: 4px;
				width: 44px;
				right: -56px;
				height: 37px;
			}
		}
		&:before {
			top: 0px;
			left: -51px;
			width: 34px;
			height: 43px;
			background-image: url('/assets/img/design/obj/quote_l_2.svg');

			@mixin screen_to, $mobile {
				top: -16px;
				left: -40px;
				width: 26px;
				height: 33px;
			}
		}
	}
}
.hr2 {
	background-color: #ffd71f;
	background-image: url('/assets/img/image/goods/hero/1_1.jpg');

	&:after,
	&:before {
		content: '';
		display: block;
		position: absolute;
		background-size: contain;
		background-repeat: no-repeat;
	}
	&:after {
		right: 5px;
		width: 432px;
		bottom: 46px;
		height: 346px;
		background-image: url('/assets/img/image/goods/hero/1_3.png');

		@mixin screen_to, $tablet {
			right: -16px;
			width: 368px;
			bottom: 62px;
			height: 295px;
		}
		@mixin screen_to, $mobile {
			right: -62px;
			bottom: 22px;
			width: 212px;
			height: 170px;
		}
	}
	&:before {
		left: -54px;
		width: 613px;
		bottom: -8px;
		height: 411px;
		background-image: url('/assets/img/image/goods/hero/1_2.png');

		@mixin screen_to, $tablet {
			left: -88px;
			bottom: 0px;
			width: 512px;
			height: 369px;
		}
		@mixin screen_to, $mobile {
			left: -135px;
			width: 390px;
			height: 255px;
		}
	}

	&_data {
		@mixin screen_to, $mobile {
			padding-top: 63px;
			vertical-align: top;
		}
	}
	&_title {
		color: #ff2c3e;
		font: 80px/56px $f2;
		text-shadow: 0px 3px 0px #fff;

		@mixin screen_to, $mobile {
			font: 76px/52px $f2;
		}
	}
}
.hr3 {
	background-image: url(/assets/img/image/hero/3.jpg);

	&_box {
		max-width: 820px;
		padding: 73px 0px 81px;

		@mixin screen_to, $mobile {
			height: auto;
			min-height: 680px;
		}
	}
	&_data {
	}
	&_title {
		color: #fff;
		margin-top: -20px;
		position: relative;
		vertical-align: top;
		display: inline-block;
		font: 115px/106px $f2;

		@mixin screen_to, $mobile {
			margin-top: 0px;
			font: 90px/80px $f2;
		}

		&:after,
		&:before {
			content: '';
			display: block;
			position: absolute;
			background: 50% no-repeat;
			background-size: contain;
		}
		&:after {
			top: 20px;
			width: 40px;
			height: 33px;
			right: -58px;
			background-image: url('/assets/img/design/obj/quote_r_2.svg');

			@mixin screen_to, $mobile {
				top: 24px;
				width: 31px;
				height: 25px;
				right: -49px;
			}
		}
		&:before {
			top: 23px;
			left: -41px;
			width: 24px;
			height: 30px;
			background-image: url('/assets/img/design/obj/quote_l_2.svg');

			@mixin screen_to, $mobile {
				top: 4px;
				left: -36px;
				width: 18px;
				height: 23px;
			}
		}
	}
}

.hr4 {
	background-image: url(/assets/img/image/hero/5.jpg);

	&_box {
		max-width: 1280px;
		position: relative;
	}
	&_title {
		top: 103px;
		left: 104px;
		color: #fff;
		display: block;
		font: 80px/1 $f2;
		position: absolute;
		text-transform: uppercase;
	}
}


