.hint {
	padding: 20px;
	display: none;
	flex-flow: wrap;
	max-width: 320px;
	font: 12px/18px $f1;

	@mixin screen_to, $mobile {
		max-width: 280px;
	}

	p {
		margin-bottom: 0px;
	}

	&_info {
		width: calc(100% - 100px);

		p {
			margin: 0px;
		}
	}
	&_name {
		display: block;
		font: 20px/1 $f1;
		margin: -3px 0px 7px;
		text-transform: uppercase;
	}
	&_photo {
		width: 80px;
		height: 166px;
		margin-right: 20px;
		background: #e0e0e0 no-repeat;
		background-size: contain;
	}

	&._person {
		max-width: 400px;

		@mixin screen_to, $mobile {
			max-width: 320px;
		}
	}
}