.loader {
	&_next {
		display: none;
	}
	&_spin {
		width: 80px;
		height: 80px;
		position: relative;
		border-radius: 50%;
		margin: 40px auto 0px;
	
		&_item {
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			position: absolute;
			border-radius: 50%;
			border: 5px solid transparent;
			animation: spin 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
			border-right-color: $c2;
	
			&._1 {
				animation-delay: -.45s;
			}
			&._2 {
				animation-delay: -.30s;
			}
			&._3 {
				animation-delay: -.15s;
			}
		}
	}
}


