.logs {
	&_item {
		width: 100%;
		display: table;
		padding: 0px 20px;
		margin: 39px auto 0px;

		@mixin screen_to, $mobile {
			padding: 0px;
			text-align: center;
		}

		& + & {
			margin-top: 32px;
	
			@mixin screen_to, $mobile {
				margin-top: 32px;
			}
		}
	}
	&_info {
		font: 18px/26px $f1;
		display: table-cell;
		vertical-align: top;
		padding: 24px 0px 0px 20px;
	
		@mixin screen_to, $mobile {
			display: block;
			margin-top: -11px;
			padding-left: 0px;
			font: 16px/24px $f1;
		}
	}
	&_bonus {
		color: $c3;
		width: 180px;
		font: 74px/44px $f2;
		display: table-cell;
		vertical-align: top;
	
		@mixin screen_to, $mobile {
			width: 100%;
			display: block;
		}
	}
}


