.map {
	height: 485px;
	margin: 60px 0px;
	position: relative;
	background: #f5f0ea;

	@mixin screen_to, $mobile {
		height: 320px;
		margin: 40px 0px;
	}
}
.ymaps-2-1-60-zoom {
	width: 42px !important;
	height: 84px !important;
	padding: 0px !important;

	@mixin screen_to, $mobile {
		width: 34px !important;
		height: 68px !important;
	}

	&__icon {
		display: none !important;
	}
	&__plus {
		&:after {
			width: 2px;
			height: 22px;
			margin: -11px 0px 0px -1px;

			@mixin screen_to, $mobile {
				height: 18px;
				margin-top: -9px;
			}
		}
	}
	&__minus {
		top: 42px !important;

		@mixin screen_to, $mobile {
			top: 34px !important;
		}
	}
	&__button {
		width: 42px !important;
		height: 42px !important;
		border: none !important;
		padding: 0px !important;
		background: $c2 !important;
		box-shadow: none !important;
		border-radius: 0px !important;

		@mixin screen_to, $mobile {
			width: 34px !important;
			height: 34px !important;
		}

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			display: block;
			background: $c1;
			position: absolute;
		}
		&:before {
			width: 22px;
			height: 2px;
			margin: -1px 0px 0px -11px;

			@mixin screen_to, $mobile {
				width: 18px;
				margin-left: -9px;
			}
		}

		&:hover {
			background: #fff !important;
		}
	}
}
.ymaps-2-1-60-_disabled {
	background: #f5f0ea !important;

	&:hover {
		background: #f5f0ea !important;
	}
}
.ymaps-2-1-60-copyrights-pane {
	display: none !important;
}


