.orders {
	font-size: 0px;
	line-height: 0px;

	&_img {
		margin: 0px auto 24px;

		@mixin screen_to, $mobile {
			margin-bottom: 25px;
		}
	}
	&_item {
		border: none;
		width: 33.33%;
		margin-top: 40px;
		padding: 0px 40px;
		text-align: center;
		font: 18px/26px $f1;
		vertical-align: top;
		display: inline-block;

		@mixin screen_to, $mobile {
			width: 100%;
			padding: 0px;
			display: block;
			font: 16px/24px $f1;
		}

		& + & {
			@mixin screen_to, $mobile {
				margin-top: 33px;
			}
		}
	}
	&_name {
		display: block;
		font-family: $f1sb;
	}
	&_state {
		display: block;
	}
}


