.resume {
	max-width: 480px;
	margin: 0px auto;
	padding: 0px 20px;
	text-align: center;

	&_text {
		margin-top: 36px;
		font: 18px/24px $f1sb;
	}
	&_title {
		display: block;
		font: 60px/48px $f2;

		&_txt {
			display: block;

			&._2 {
				font: 70px/60px $f2;
				margin: 23px 0px -4px;
				text-transform: uppercase;
			}
		}
	}
}