.shop {
	font-size: 0px;
	line-height: 0px;
	max-width: 960px;
	padding: 0px 10px;
	margin: 10px auto 0px;

	@mixin screen_to, $mobile {
		max-width: 520px;
		padding: 0px 20px;
	}

	&_img {
		margin: 0px auto 14px;
	}
	&_sum {
		display: block;
		font: 14px/18px $f1sb;
	}
	&_buy {
		width: 175px;
		height: 68px;
		font: 50px/68px $f2;
		margin: 20px auto 0px;
	}
	&_type {
		display: block;
		font: 18px/26px $f1sb;
	}
	&_name {
		display: block;
		font: 18px/26px $f1sb;
	}
	&_item {
		padding: 20px;
		min-height: 435px;
		background: #fff;
		text-align: center;
		border-radius: 10px;
		vertical-align: top;
		display: inline-block;
		margin: 30px 10px 0px;
		width: calc(33.33% - 20px);
		transition: all .2s ease-out-sine;
		box-shadow: 0px 1px 6px rgba($c1, .35);

		@mixin screen_to, $mobile {
			width: 100%;
			margin: 20px 0px 0px;
		}

		&:hover {
			box-shadow: 0px 12px 20px rgba($c1, .35);
		}
	}
	&_bonus {
		color: $c3;
		display: block;
		margin-top: 9px;
		font: 18px/18px $f1bd;
	}
}


