.tile {
	font-size: 0px;
	line-height: 0px;
	overflow: hidden;
	margin: 0px auto;
	max-width: 1280px;
	padding: 20px 20px 0px;

	@mixin screen_to, $mobile {
		padding: 0px;
		max-width: 480px;
	}

	&_txt {
		opacity: 0;
		display: block;
		transition: all .4s ease-in-out-sine;

		@mixin screen_to, $tablet {
			opacity: 1;
		}

		&._1 {
			color: #ffca01;
			font: 80px/68px $f2;
			margin-bottom: 16px;
			transform: translateY(-60px);

			@mixin screen_to, $tablet {
				transform: none;
			}
			@mixin screen_to, $mobile {
				margin-bottom: 17px;
			}
		}
		&._2 {
			font: 25px/26px $f1bl;
			transform: translateY(-40px);

			@mixin screen_to, $tablet {
				transform: none;
			}
			@mixin screen_to, $mobile {
				font: 18px/22px $f1bl;
			}
		}
		&._3 {
			margin-top: 7px;
			font: 20px/22px $f1;
			transform: translateY(-20px);

			@mixin screen_to, $tablet {
				transform: none;
			}
			@mixin screen_to, $mobile {
				font: 16px/20px $f1;
			}
		}
	}
	&_img {
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		background: 50% no-repeat;
		transition: all 1.2s ease-in-out-sine;
		background-size: cover;
	}
	&_box {
		top: 0px;
		left: 0px;
		opacity: 0;
		z-index: 15;
		width: 100%;
		height: 100%;
		padding: 15px;
		position: absolute;
		background: rgba(#004f8c, .5);
		transition: all .2s ease-out-sine;

		@mixin screen_to, $tablet {
			top: auto;
			opacity: 1;
			bottom: 0px;
			height: auto;
			padding: 17px 20px 16px;
		}
		@mixin screen_to, $mobile {
			padding: 17px 20px 16px;
		}

		&:before {
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			transform: scale(1.04);
			border: 1px dotted #fff;
			transition: all .4s ease-out-sine;

			@mixin screen_to, $tablet {
				display: none;
			}
		}
	}
	&_wrap {
		overflow: hidden;
		padding: 0px $10;
		margin: 0px calc($20 * -1);
	}
	&_size {
		opacity: 0;
		width: 100%;
		height: auto;
		display: block;
		position: relative;
		visibility: hidden;

		&._wide {
			left: 50%;
			min-width: 1280px;
			margin-left: -640px;
		}
	}
	&_item {
		float: left;
		border: none;
		color: #fff;
		display: block;
		overflow: hidden;
		position: relative;
		text-align: center;
		margin: $20 $10 0px;
		width: calc(50% - $20);

		@mixin screen_to, $mobile {
			width: 100%;
			float: none;
			margin: 10px 0px 0px;
		}

		& + & {
			@mixin screen_to, $mobile {
				margin-top: 10px;
			}
		}
		&._2x1 {
			width: calc(100% - $20);

			@mixin screen_to, $mobile {
				width: 100%;
			}

			^^&_box {
				@mixin screen_to, $tablet {
					height: 100%;
				}
			}
		}
		&:hover {
			^^&_txt {
				opacity: 1;
				transform: none;
			}
			^^&_img {
				@mixin screen_from, $tablet {
					transform: scale(1.08);
				}
			}
			^^&_box {
				opacity: 1;
		
				&:before {
					opacity: 1;
					transform: none;
				}
			}
		}
		&:nth-child(1) {
			margin-top: 0px;
		}
		&:nth-child(2) {
			@mixin screen_from, $mobile {
				margin-top: 0px;
			}
		}
	}
	&_data {
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		display: table;
		position: absolute;

		@mixin screen_to, $tablet {
			position: relative;
		}
	}
	&_cell {
		display: table-cell;
		vertical-align: middle;
	}
}


