.traits {
	font-size: 0px;
	line-height: 0px;
	max-width: 1080px;
	margin: 47px auto 0px;

	@mixin screen_to, $mobile {
		max-width: 520px;
		margin-top: 28px;
	}

	p {
		margin: 0px;
	}

	&_ico {
		height: 80px;
		margin-bottom: 14px;
		background: 50% no-repeat;

		@mixin screen_to, $mobile {
			margin-bottom: 13px;
		}
	}
	&_item {
		width: 33.33%;
		text-align: center;
		font: 18px/26px $f1;
		vertical-align: top;
		display: inline-block;
		padding: 33px 20px 0px;

		@mixin screen_to, $mobile {
			width: 100%;
			display: block;
			font-size: 16px;
			padding-top: 32px;
		}
	}
}


