.video {
	max-width: 1240px;
	margin: 49px auto 34px;
	
	@mixin screen_to, $mobile {
		margin: 37px auto 26px;
	}

	video,
	iframe {
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		position: absolute;
	}

	&_wrap {
		height: 0px;
		position: relative;
		background: #f5f0ea;
		padding-bottom: 56.25%;
	}
}


