.videos {
	font-size: 0px;
	line-height: 0px;
	max-width: 1280px;
	padding: 0px 10px;
	margin: -34px auto 0px;
	
	@mixin screen_to, $tablet {
		margin-top: -35px;
	}
	@mixin screen_to, $mobile {
		max-width: 480px;
		padding: 0px 20px;
	}

	&_img {
		overflow: hidden;
		position: relative;

		&:after,
		&:before {
			top: 0px;
			left: 0px;
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			background: 50% no-repeat;
			background-size: 41.48% 51.82%;
			transition: all .4s ease-in-out-sine;
		}
		&:after {
			opacity: 0;
			transform: scale(1.08);
			background-image: url('/assets/img/design/btn/play_1_2.svg');
	
			@mixin screen_to, $mobile {
				display: none;
			}
		}
		&:before {
			background-image: url('/assets/img/design/btn/play_1_1.svg');
		}
	}
	&_src {
		width: 100%;
	}
	&_item {
		border: none;
		vertical-align: top;
		display: inline-block;
		margin: 34px 10px 0px;
		width: calc(50% - 20px);

		@mixin screen_to, $tablet {
			margin-top: 35px;
		}
		@mixin screen_to, $mobile {
			width: 100%;
			margin: 35px 0px 0px;
		}

		&:hover {
			^^&_img {
				&:after {
					opacity: 1;
					transform: none;
				}
				&:before {
					background-color: rgba(#004f8c, .5);
				}
			}
		}
	}
	&_time {
		right: 25px;
		bottom: 25px;
		height: 35px;
		color: #fff;
		min-width: 80px;
		padding: 0px 5px;
		border-radius: 4px;
		position: absolute;
		text-align: center;
		font: 22px/35px $f1;
		display: inline-block;
		background: rgba(#10528b, .8);

		@mixin screen_to, $tablet {
			right: 15px;
			bottom: 15px;
			height: 30px;
			min-width: 65px;
			font: 18px/30px $f1;
		}
		@mixin screen_to, $mobile {
			height: 24px;
			min-width: 54px;
			font: 14px/24px $f1;
		}
	}
	&_name {
		color: #000;
		display: block;
		margin-top: 16px;
		font: 25px/28px $f1;

		@mixin screen_to, $tablet {
			font: 18px/22px $f1;
		}
		@mixin screen_to, $mobile {
			margin-top: 16px;
			font: 16px/20px $f1;
		}
	}

	&._1x3 {
		^&_item {
			margin-top: 35px;
			width: calc(33.33% - 20px);
	
			@mixin screen_to, $mobile {
				width: 100%;
			}
		}
		^&_time {
			right: 15px;
			height: 24px;
			bottom: 15px;
			min-width: 54px;
			font: 14px/24px $f1;
		}
		^&_name {
			margin-top: 16px;
			font: 16px/20px $f1;
		}
	}
	&._last {
		margin: -35px auto 0px;
	}
}


