.ways {
	font-size: 0px;
	max-width: 800px;
	line-height: 0px;
	margin: 0px auto;
	overflow: hidden;
	text-align: center;

	@mixin screen_to, $mobile {
		max-width: 520px;
		padding: 0px 20px;
	}

	&_img {
		width: 100%;
		height: 155px;
		display: block;
		border-radius: 50%;
		background: 50% no-repeat;
		border: 7px solid currentColor;
		background-size: cover;

		@mixin screen_to, $tablet {
			height: 148px;
		}
		@mixin screen_to, $mobile {
			height: 130px;
		}
	}
	&_wrap {
		margin: 0px -30px;
	}
	&_flag {
		width: 0px;
		height: 0px;
		right: 1000%;
		bottom: 1000%;
		position: fixed;
		visibility: hidden;

		&:hover {
			& + ^^&_item {
				color: $c2;
			}
		}
		&:checked {
			& + ^^&_item {
				color: $c1;
			}
		}
	}
	&_item {
		color: $c2;
		width: 155px;
		border: none;
		cursor: pointer;
		vertical-align: top;
		display: inline-block;
		margin: 24px 30px 0px;
		transition: color .4s ease-out-sine;

		@mixin screen_to, $tablet {
			width: 148px;
		}
		@mixin screen_to, $mobile {
			width: 130px;
			margin: 14px 10px 0px;
		}
		
		&:hover {
			color: $c1;
		}
	}
	&_name {
		color: $c1;
		display: block;
		margin-top: 10px;
		font: 18px/24px $f1;

		@mixin screen_to, $mobile {
			font: 14px/20px $f1;
		}
	}
	&_title {
		color: $c1;
		font: 56px/56px $f2;
		margin: 0px 0px 12px;
	}
}


