.pmain {
	max-width: 280px;
	text-align: center;
	position: relative;
	border-radius: 10px;
	font: 0/0 sans-serif;
	border: 2px solid $c1;
	padding: 22px 20px 20px;

	&_or {
		position: relative;
		margin: 24px 0px 15px;

		&:before {
			top: 50%;
			left: 0px;
			width: 100%;
			height: 1px;
			content: '';
			display: block;
			position: absolute;
			background: #ccdde8;
		}

		&:after {
			font: 14px/1 $f1;
			padding: 0px 15px;
			background: #fff;
			position: relative;
			display: inline-block;
			vertical-align: bottom;
			content: attr(data-txt);
		}
	}
	&_ok {
		width: 150px;
		height: 48px;
		font: 35px/48px $f2;
		margin: 30px auto 0px;
		padding: 0px 30px 0px 20px;
	}
	&_tab {
		display: none;

		&._active {
			display: block;
		}
	}
	&_img {
		margin: 0px auto;
	}
	&_form {
		&_label {
			display: block;
			text-align: left;
			font: 16px/1 $f1sb;
			margin: 13px 0px 12px;
		}
		&_submit {
			width: 150px;
			height: 48px;
			font: 35px/48px $f2;
			margin: 30px auto 0px;
			padding: 0px 30px 0px 20px;
		}
		&_switch {
			color: $c1;
			font: 14px/1 $f1;
			margin-top: 24px;
			background: none;
			vertical-align: top;
			display: inline-block;
			border-bottom: 1px solid $c1;

			&:hover {
				border-color: transparent;
			}
		}
	}
	&_text {
		padding-bottom: 3px;
		font: 16px/24px $f1;
	}
	&_close {
		top: 7px;
		right: 7px;
		color: $c1;
		width: 20px;
		height: 20px;
		position: absolute;

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			display: block;
			position: absolute;
			background: currentColor;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:after {
			width: 18px;
			height: 2px;
		}
		&:before {
			width: 2px;
			height: 18px;
		}

		&:hover {
			color: $c3;
		}
	}
	&_title {
		display: block;
		font: 75px/40px $f2;
		margin-bottom: 36px;
	}
	&_smiley {
		width: 80px;
		height: 80px;
		margin: 0px auto 25px;
		background-size: contain;
		background-repeat: no-repeat;

		&._sad {
			background-image: url('/assets/img/design/obj/sad_80x80@2x_1.png');
		}
	}
	&_message {
		margin-bottom: -16px;
		font: 18px/26px $f1sb;
	}
	&_subtitle {
		display: block;
		font: 14px/1 $f1;
		margin: -21px 0px 22px;
	}

	&-msg {
		max-width: 400px;
		padding-top: 28px;
	}
}