@define-mixin screen_to, $size {
	@media screen and (max-width: $size) {
		@mixin-content;
	}
}

@define-mixin screen_from, $size {
	@media screen and (min-width: $size) {
		@mixin-content;
	}
}

@define-mixin screen_between, $size_a, $size_b {
	@media screen and (min-width: $size_a) and (max-width: $size_b) {
		@mixin-content;
	}
}


