.btn,
button {
	padding: 0px;
	border: none;
	outline: none;
	cursor: pointer;
	overflow: hidden;
	background: none;
	user-select: none;
	text-shadow: none;
	position: relative;
	text-align: center;
	white-space: nowrap;
	vertical-align: top;
	display: inline-block;
	text-decoration: none;
	transform: translateZ(0);
	backface-visibility: hidden;
	transition: all .2s ease-out;

	&:after,
	&:before {
		pointer-events: none;
		transform: translateZ(0);
		backface-visibility: hidden;
	}

	&_1 {
		color: $c1;
		display: block;
		text-align: center;
		text-transform: uppercase;
		padding: 0px 44px 0px 28px;
		transition: color .4s ease-out-sine;
		filter: drop-shadow(0px 8px 16px rgba(#333, .34));
		background: url('/assets/img/design/btn/1_y.svg') 50% no-repeat;
		background-size: contain;

		&:hover {
			color: #fff;
		}
	}
	&_2 {
		color: $c1;
		height: 40px;
		background: $c2;
		padding: 0px 15px;
		border-radius: 40px;
		font: 18px/36px $f1sb;
		border: 2px solid $c2;
		transition: all .4s ease-out-sine;

		&:hover {
			border-color: $c2;
			background: #fff;
		}
	}
}