.checkbox {
	color: $c2;
	width: 30px;
	height: 30px;
	cursor: pointer;
	margin-right: 9px;
	border-radius: 5px;
	vertical-align: top;
	display: inline-block;
	border: 1px solid $c2;
	transition: all .4s ease-out-sine;
	box-shadow: inset 0px 0px 0px 1px rgba($c2, .45);

	&:after,
	&:before {
		top: 50%;
		left: 50%;
		opacity: 0;
		content: '';
		display: block;
		position: absolute;
		background: currentColor;
		transition: opacity .2s ease-out-sine,
					transform .2s ease-out-sine;
		transform: translate(-50%, -50%) rotate(-45deg) scale(.6);
	}
	&:after {
		width: 2px;
		height: 18px;
	}
	&:before {
		width: 18px;
		height: 2px;
	}

	&._error {
		border-color: $cerror;
		box-shadow: inset 0px 0px 0px 1px rgba($cerror, .45);
	}
	&._checked {
		&:after,
		&:before {
			opacity: 1;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
	&:hover,
	label:hover & {
		border-color: $c1;
		box-shadow: inset 0px 0px 0px 1px rgba($c1, .45);
		
		&._checked {
			color: $c1;
		}
	}
}