.input,
textarea {
	color: $c1;
	width: 100%;
	margin: 0px;
	resize: none;
	outline: none;
	display: block;
	overflow: hidden;
	border-radius: 12px;
	font: 18px/18px $f1sb;
	border: 1px solid $c2;
	transition: color .4s ease-out-sine,
				border .4s ease-out-sine;
	box-shadow: inset 0px 0px 0px 1px rgba($c2, .45);

	&::placeholder {
		opacity: 1;
		color: $chint;
		font-family: $f1i;
		transition: all .2s ease-out-sine;
	}

	&:hover,
	&:focus {
		border-color: $c1;
		box-shadow: inset 0px 0px 0px 1px rgba($c1, .45);
	}
	&:focus {
		&::placeholder {
			color: transparent !important;
		}
	}
	&._error {
		border-color: $cerror;
		box-shadow: inset 0px 0px 0px 1px rgba($cerror, .45);
	}
}
.input {
	height: 40px;
	padding: 0px 10px;
}
textarea {
	height: 160px;
	padding: 10px;
}