.radio {
	width: 30px;
	height: 30px;
	cursor: pointer;
	margin-right: 9px;
	border-radius: 50%;
	vertical-align: top;
	display: inline-block;
	border: 1px solid $c2;
	transition: all .4s ease-out-sine;
	box-shadow: inset 0px 0px 0px 1px rgba($c2, .45);

	&:after {
		top: 50%;
		left: 50%;
		opacity: 0;
		content: '';
		width: 18px;
		height: 8px;
		display: block;
		position: absolute;
		border-left: 1px solid $c2;
		border-bottom: 1px solid $c2;
		transition: all .4s ease-out-sine;
		box-shadow: inset 1px -1px 0px rgba($c2, .45);
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	&._error {
		border-color: $cerror;
		box-shadow: inset 0px 0px 0px 1px rgba($cerror, .45);
	}
	&._checked {
		&:after {
			opacity: 1;
		}
	}
	&:hover,
	label:hover & {
		border-color: $c1;
		box-shadow: inset 0px 0px 0px 1px rgba($c1, .45);
		
		&._checked {
			&:after {
				border-color: $c1;
				box-shadow: inset 1px -1px 0px rgba($c1, .45);
			}
		}
	}
}