.remodal,
[data-remodal-id] {
	display: none;
}
html.remodal-is-locked {
	overflow: hidden;
	touch-action: none;
}
.remodal {
	width: 100%;
	outline: none;
	position: relative;
	background: #fff;
	margin-bottom: 10px;
	box-sizing: border-box;
	vertical-align: middle;
	text-size-adjust: 100%;
	transform: translateZ(0);

	&-wrapper {
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		display: none;
		z-index: 10000;
		overflow: auto;
		position: fixed;
		text-align: center;
		padding: 10px 10px 0px;
		backface-visibility: hidden;
		-webkit-overflow-scrolling: touch;

		&:after {
			content: '';
			height: 100%;
			margin-left: -0.05em;
			display: inline-block;
			vertical-align: middle;
		}
	}
	&-overlay {
		top: -5000px;
		z-index: 9999;
		display: none;
		left: -5000px;
		right: -5000px;
		bottom: -5000px;
		position: fixed;
		backface-visibility: hidden;
		background: rgba(#004c89, .9);

		&^&-is-opening,
		&^&-is-closing {
			animation-duration: 0.3s;
			animation-fill-mode: forwards;
		}
		&^&-is-opening {
			animation-name: remodal-overlay-opening-keyframes;
		}
		&^&-is-closing {
			animation-name: remodal-overlay-closing-keyframes;
		}
	}

	&-bg {
		&^&-is-opened,
		&^&-is-opening {
			filter: blur(3px);
		}
	}

	&&-is-opening,
	&&-is-closing {
		animation-duration: 0.3s;
		animation-fill-mode: forwards;
	}
	&&-is-opening {
		animation-name: remodal-opening-keyframes;
	}
	&&-is-closing {
		animation-name: remodal-closing-keyframes;
	}
	&-is-initialized {
		display: inline-block;
	}
}

@keyframes remodal-opening-keyframes {
	from {
		transform: scale(1.05);
		opacity: 0;
	}
	to {
		transform: none;
		opacity: 1;
		filter: blur(0);
	}
}
@keyframes remodal-closing-keyframes {
	from {
		transform: scale(1);
		opacity: 1;
	}
	to {
		transform: scale(0.95);
		opacity: 0;
		filter: blur(0);
	}
}
@keyframes remodal-overlay-opening-keyframes {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes remodal-overlay-closing-keyframes {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}