.sod {
	&_list {
		display: block;
		overflow-y: auto;
		max-height: 200px;

		&_wrapper {
			top: 100%;
			left: -1px;
			color: $c1;
			z-index: 1;
			height: auto;
			display: none;
			overflow: hidden;
			position: absolute;
			background: #fff;
			border: 1px solid $c1;
			width: calc(100% + 2px);
			border-radius: 0px 0px 10px 10px;
			box-shadow: inset 0px 0px 0px 1px rgba($c1, .45);
		}
	}
	&_label {
		color: $c1;
		height: 38px;
		display: block;
		overflow: hidden;
		white-space: nowrap;
		font: 18px/38px $f1sb;
		text-overflow: ellipsis;
		padding: 0px 29px 0px 10px;
	}
	&_select {
		z-index: 15;
		display: block;
		cursor: pointer;
		user-select: none;
		background: #fff;
		position: relative;
		border-radius: 12px;
		border: 1px solid $c2;
		-webkit-touch-callout: none;
		transition: border .4s ease-out-sine,
					box-shadow .4s ease-out-sine;
		box-shadow: inset 0px 0px 0px 1px rgba($c2, .45);

		&:after {
			top: 50%;
			width: 9px;
			right: 12px;
			height: 9px;
			content: '';
			display: block;
			margin-top: -7px;
			position: absolute;
			transform: rotate(45deg);
			border-right: 2px solid $c1;
			border-bottom: 2px solid $c1;
		}

		select {
			opacity: 0;
			width: 0px;
			height: 0px;
			top: -10000px;
			left: -10000px;
			position: fixed;
		}

		&.open,
		&:hover {
			border-color: $c1;
			box-shadow: inset 0px 0px 0px 1px rgba($c1, .45);
		}
		&.open {
			z-index: 30;
			border-radius: 10px 10px 0px 0px;

			.sod_list_wrapper {
				display: block;
			}

			&.above {
				border-radius: 0px 0px 10px 10px;
			}
		}
		&.above {
			.sod_list_wrapper {
				top: auto;
				bottom: 100%;
				border-radius: 10px 10px 0px 0px;
			}
		}
		&.touch {
			select {
				top: 0px;
				left: 0px;
				z-index: 10;
				width: 100%;
				height: 100%;
				position: absolute;
				-webkit-appearance: menulist-button;
				display: block !important;
			}
		}
		&._error {
			border-color: $cerror;
			box-shadow: inset 0px 0px 0px 1px rgba($cerror, .45);
		}
		&.disabled {
			cursor: default;
			border-color: #ccdce8;
			box-shadow: inset 0px 0px 0px 1px rgba(#ccdce8, .45);

			&.open {
				.sod_list_wrapper {
					display: none;
				}
			}
		}
	}
	&_option {
		display: block;
		overflow: hidden;
		background: #fff;
		padding: 0px 10px;
		white-space: nowrap;
		font: 18px/40px $f1sb;
		text-overflow: ellipsis;
		transition: all .2s ease-out-sine;

		&:hover {
			color: #fff;
			background: $c1;
		}
		&.disabled,
		&.selected,
		&.is-placeholder,
		&[data-value=""] {
			display: none;
		}
	}
}


