.tooltipster {
	&-box {
		flex: 1 1 auto;
	}
	&-base {
		opacity: 0;
		display: flex;
		position: absolute;
		background: #fff;
		pointer-events: none;
		margin-bottom: 23px;
		border-radius: 10px;
		border: 2px solid $c1;
		transform-origin: 50% 100%;
		box-shadow: 0px 5px 0px $c2;
		transition: all .2s ease-out-sine;
		transform: translate3d(0px, -20px, 0);

		.hint {
			display: flex;
		}
	}
	&-ruler {
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		position: fixed;
		overflow: hidden;
		visibility: hidden;
	}
	&-arrow {
		top: 100%;
		width: 36px;
		height: 23px;
		display: block;
		overflow: hidden;
		position: absolute;
		margin-left: -18px;

		&:before {
			content: '';
			display: block;
			background: #fff;
			position: absolute;
		}
		&:before {
			left: 50%;
			width: 26px;
			height: 26px;
			bottom: 10px;
			border-radius: 3px;
			border: 2px solid $c1;
			transform: translateX(-50%) rotate(45deg);
			box-shadow: 0px 0px 0px 5px $c2;
			box-shadow:
				4px 3px 0px $c2,
				3px 4px 0px $c2;
		}
	}
	&-content {
		overflow: auto;
		max-width: 100%;
		max-height: 100%;
		box-sizing: border-box;
	}

	&-show {
		opacity: 1;
		transform: none;
	}
	&-dying {
		opacity: 0;
		transform: translate3d(0px, -20px, 0);
	}
	&-update {
		&-fade {
			animation: tooltipster-fading 400ms;
		}
		&-scale {
			animation: tooltipster-scaling 600ms;
		}
		&-rotate {
			animation: tooltipster-rotating 600ms;
		}
	}
}

@keyframes tooltipster-fading {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes tooltipster-scaling {
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes tooltipster-rotating {
	25% {
		transform: rotate(-2deg);
	}
	75% {
		transform: rotate(2deg);
	}
	100% {
		transform: rotate(0);
	}
}