.ufaq {
	font-size: 0px;
	margin-top: 22px;
	line-height: 0px;
	text-align: center;

	&_ico {
		width: 98px;
		height: 94px;
		margin: 0px auto 15px;
		transition: all .4s ease-out-sine;

		@mixin screen_to, $mobile {
			width: 80px;
			height: 77px;
			margin-bottom: 14px;
		}

		&._1 {
			background-image: url('/assets/img/design/ico/shop/1.svg');
		}
		&._2 {
			background-image: url('/assets/img/design/ico/shop/2.svg');
		}
		&._3 {
			background-image: url('/assets/img/design/ico/shop/3.svg');
		}
	}
	&_item {
		width: 33.33%;
		cursor: pointer;
		padding: 0px 20px;
		position: relative;
		vertical-align: top;
		display: inline-block;

		@mixin screen_to, $mobile {
			width: 180px;
			padding: 0px;
			display: block;
			margin: 0px auto;
		}

		& + & {
			@mixin screen_to, $mobile {
				margin-top: 34px;
			}
		}
		&:hover {
			^^&_ico {
				opacity: 0;
				visibility: hidden;
			}
			^^&_hint {
				opacity: 1;
				transform: none;
				visibility: visible;
			}
		}
	}
	&_name {
		color: #fff;
		font: 25px/30px $f1bd;

		@mixin screen_to, $mobile {
			font: 20px/26px $f1bd;
		}
	}
	&_hint {
		left: 50%;
		opacity: 0;
		top: -108px;
		width: 228px;
		height: 212px;
		text-align: left;
		position: absolute;
		visibility: hidden;
		margin-left: -114px;
		font: 14px/20px $f1sb;
		transform-origin: 50% 100%;
		padding: 18px 18px 44px 24px;
		transition: all .4s ease-out-sine;
		transform: translateY(-20px) rotate(5deg) scale(1.04);
		background: url('/assets/img/design/obj/baloon_1.svg') 50% no-repeat;
		background-size: contain;

		@mixin screen_to, $mobile {
			top: -135px;
		}

		p {
			margin: 0px;
		}
		strong {
			color: $c3;
			font-family: $f1sb;
		}

		&_box {
			top: 50%;
			position: relative;
			transform: translateY(-50%);
		}
	}
}


