.uincut {
	margin: 40px 0px;
	font-family: $f1i;
	position: relative;
	padding: 37px 0px 38px 0px;

	@mixin screen_to, $mobile {
		padding: 30px 0px 30px 0px;
	}
	
	&:after,
	&:before {
		left: 50%;
		content: '';
		height: 6px;
		width: 888px;
		position: absolute;
		margin-left: -444px;
		background: url('/assets/img/design/obj/line_4.svg') 50% no-repeat;
		background-size: 887px 6px;

		@mixin screen_to, $mobile {
			left: 0px;
			width: 100%;
			margin-left: 0px;
		}
	}
	&:after {
		bottom: 0px;
	}
	&:before {
		top: 0px;
	}

	&_wrap {
		margin: 0px auto;
		max-width: 640px;
	}
	&_title {
		margin-top: 0px;
		font-family: $f1sbi;
	}
}


