.ulink {
	color: $c1;
	margin: 24px 0px 26px;

	@mixin screen_to, $mobile {
		margin: 25px 0px 40px;
	}

	&_txt {
		font: 50px/28px $f2;
		display: inline-block;
		vertical-align: bottom;

		@mixin screen_to, $mobile {
			display: block;
		}
	}
	&_url {
		top: 13px;
		color: $c1;
		border: none;
		max-width: 100%;
		margin-left: 5px;
		overflow: hidden;
		position: relative;
		white-space: nowrap;
		vertical-align: top;
		display: inline-block;
		font: 18px/18px $f1sb;
		text-overflow: ellipsis;
		border-bottom: 2px solid transparent;

		@mixin screen_to, $mobile {
			margin: -4px 0px 0px;
			font: 14px/14px $f1sb;
		}

		&:hover {
			border-color: $c1;
		}
	}

	&:last-child {
		margin-bottom: 0px;
	}
	&:first-child {
		margin-top: 0px;
	}
}


