.ulogin {
	top: 10px;
	right: 20px;
	position: absolute;
	text-align: center;

	@mixin screen_to, $tablet {
		top: 8px;
	}
	@mixin screen_to, $mobile {
		top: 0px;
		right: 0px;
		position: relative;
		margin: 24px 0px 8px;
	}

	&_vk {
		border: none;
		color: #fff;
		display: block;
		margin: 0px auto;
		transition: all .2s ease-out-sine;

		&:after {
			display: block;
			content: '\e813';
			font: 22px/1 'ico';

			@mixin screen_to, $tablet {
				font-size: 18px;
			}
		}

		&:hover {
			color: $c1;
		}
	}
	&_lbl {
		color: $c1;
		height: 22px;
		display: block;
		font: 16px/22px $f1;

		@mixin screen_to, $tablet {
			font: 14px/18px $f1;
		}
	}
	&_link {
		border: none;
		display: block;
		margin-bottom: 8px;
		font: 50px/44px $f2;
		letter-spacing: 2.5px;
		border-bottom: 1px solid $c1;

		@mixin screen_to, $tablet {
			margin-bottom: 6px;
			font: 40px/34px $f2;
		}

		&._in {
			color: $c1;

			&:hover {
				color: #fff;
			}
		}
		&._rg {
			color: #fff;
			text-shadow: 1px 1px $c2, 1px -1px $c2,
						-1px 1px $c2, -1px -1px $c2;

			&:hover {
				color: $c1;
			}
		}
		&:hover {
			border-color: $c1;
		}
	}
	&_cell {
		vertical-align: top;
		display: inline-block;

		&._1 {
			width: 56px;

			@mixin screen_to, $tablet {
				width: 46px;
			}
		}
		&._2 {
			width: 140px;

			@mixin screen_to, $tablet {
				width: 120px;
			}
		}
		& + & {
			margin-left: 2px;
		}
	}
}


