.ulogo {
	top: 10px;
	left: 20px;
	width: 157px;
	height: 69px;
	border: none;
	display: block;
	position: absolute;
	transition: all .2s ease-out-sine;
	background: url('/assets/img/logo_157x69@2x.png') no-repeat;
	background-size: contain;

	@mixin screen_to, $tablet {
		top: 6px;
		width: 148px;
		height: 65px;
	}
	@mixin screen_to, $mobile {
		top: auto;
		width: 93px;
		height: 42px;
		position: relative;
	}
}


