.uquote {
	max-width: 456px;
	margin: 40px auto;
	padding: 0px 68px;
	font: 16px/24px $f1i;

	@mixin screen_to, $mobile {
		text-align: center;
		font: 14px/22px $f1i;
	}

	p {
		margin: 0px;
	}
	&_wrap {
		margin: 0px -68px;
		padding: 0px 68px;
		position: relative;

		&:after,
		&:before {
			top: 50%;
			color: $c2;
			position: absolute;
			font: 127px/127px $f2;
			transform: translateY(-50%);
		}
		&:after {
			right: 0px;
			content: '\00bb';
		}
		&:before {
			left: 0px;
			content: '\00ab';
		}
	}
	&_author {
		display: block;
		margin-top: 7px;
		max-width: 320px;
		margin: 0px auto;
		text-align: right;

		@mixin screen_to, $mobile {
			margin-top: 8px;
		}
	}
}


