.ushop {
	font-size: 0px;
	line-height: 0px;
	padding: 0px 20px;
	max-width: 1280px;
	margin: 50px auto 37px;

	@mixin screen_to, $mobile {
		margin: 40px auto 28px;
	}

	&_box {
		overflow: hidden;
		margin: 0px auto;
		max-width: 1070px;
		position: relative;

		&:after,
		&:before {
			top: 42px;
			width: 50%;
			height: 1px;
			content: '';
			display: block;
			background: $c1;
			position: absolute;

			@mixin screen_to, $mobile {
				display: none;
			}
		}
		&:after {
			right: -148px;
		}
		&:before {
			left: -129px;
		}
	}

	&_btn {
		left: 16px;
		color: $c1;
		width: 244px;
		border: none;
		height: 74px;
		display: block;
		margin: 0px auto;
		position: relative;
		font: 58px/58px $f2;
		text-transform: uppercase;
		padding: 10px 0px 0px 35px;
		background: url('/assets/img/design/btn/1_y.svg') 50% no-repeat;
		background-size: contain;

		&:hover {
			color: #fff;
		}
	}
}


