.uuser {
	top: 17px;
	right: 20px;
	width: 198px;
	position: absolute;

	@mixin screen_to, $tablet {
		top: 13px;
		width: 168px;
	}
	@mixin screen_to, $mobile {
		top: 0px;
		right: 0px;
		width: auto;
		position: relative;
		text-align: center;
		padding: 24px 0px 11px;
	}

	&_img {
		width: 62px;
		height: 62px;
		border: none;
		border-radius: 50%;
		vertical-align: top;
		display: inline-block;
		border: 1px solid $c1;
		background: #f5f0ea no-repeat;
		background-size: contain;

		@mixin screen_to, $tablet {
			width: 52px;
			height: 52px;
		}
		@mixin screen_to, $mobile {
			width: 120px;
			height: 120px;
			display: block;
			margin: 0px auto 6px;
		}

		&:hover {
			border-color: $c1;
		}
	}
	&_info {
		width: 136px;
		padding-left: 10px;
		vertical-align: top;
		display: inline-block;

		@mixin screen_to, $tablet {
			width: 116px;
		}
		@mixin screen_to, $mobile {
			width: auto;
			padding: 0px;
			display: block;
		}
	}
	&_name {
		border: none;
		max-width: 100%;
		overflow: hidden;
		margin-top: -8px;
		word-spacing: -2px;
		font: 50px/50px $f2;
		white-space: nowrap;
		vertical-align: top;
		display: inline-block;
		text-overflow: ellipsis;
		text-shadow: 1px 1px $c2, 1px -1px $c2,
					-1px 1px $c2, -1px -1px $c2;

		@mixin screen_to, $tablet {
			margin-top: -6px;
			font: 40px/40px $f2;
		}

		&:after {
			left: 50%;
			width: 0px;
			height: 2px;
			bottom: 5px;
			z-index: -1;
			content: '';
			display: block;
			position: absolute;
			transform: translateX(-50%);
			transition: all .2s ease-out-sine;
		}

		&:hover {
			&:after {
				width: 100%;
				background: $c1;
			}
		}
	}
	&_exit {
		color: $c1;
		border: none;
		height: 16px;
		margin-top: 5px;
		overflow: hidden;
		vertical-align: top;
		display: inline-block;

		@mixin screen_to, $mobile {
			height: 25px;
			margin-top: 10px;
		}

		.txt {
			display: block;
			margin-top: -10px;
			font: 35px/26px $f2;

			@mixin screen_to, $mobile {
				margin-top: -2px;
				font: 40px/30px $f2;
			}

			&:first-letter {
				@mixin screen_to, $mobile {
					text-transform: uppercase;
				}
			}
		}

		&:hover {
			color: $c3;
		}
	}
	&_score {
		color: $c3;
		height: 16px;
		display: block;
		margin-top: -3px;
		vertical-align: top;
		font: 18px/18px $f1sb;

		@mixin screen_to, $tablet {
			margin-top: -1px;
		}
		@mixin screen_to, $mobile {
			height: 28px;
			margin-top: 6px;
			font: 26px/28px $f1sb;
		}
	}
}


