@font-face {
	font-family: 'Amalfi';
	src: url('/assets/fonts/Amalfi.woff') format('woff');
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'SolomonSans';
	src: url('/assets/fonts/SolomonSans.woff') format('woff');
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'SolomonSans-Italic';
	src: url('/assets/fonts/SolomonSans-Italic.woff') format('woff');
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'SolomonSans-Bold';
	src: url('/assets/fonts/SolomonSans-Bold.woff') format('woff');
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'SolomonSans-Black';
	src: url('/assets/fonts/SolomonSans-Black.woff') format('woff');
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'SolomonSans-SemiBold';
	src: url('/assets/fonts/SolomonSans-SemiBold.woff') format('woff');
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'SolomonSans-Bold-Italic';
	src: url('/assets/fonts/SolomonSans-Bold-Italic.woff') format('woff');
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}
@font-face {
	font-family: 'SolomonSans-SemiBold-Italic';
	src: url('/assets/fonts/SolomonSans-SemiBold-Italic.woff') format('woff');
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}