.hidden {
	width: 0px;
	height: 0px;
	right: 100%;
	bottom: 100%;
	min-width: 0px;
	min-height: 0px;
	position: fixed;
	visibility: hidden;
}
._overflow {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	
	&:last-child {
		margin-bottom: 0px;
	}
	&:first-child {
		margin-top: 0px;
	}
}
._clearfix {
	&:after,
	&:before {
		clear: both;
		content: '';
		display: table;
	}
}
.no_scrolling {
	overflow: hidden;
}

._hide4desktop {
	@mixin screen_from, 1280.001px {
		display: none;
	}
}
._hide4tablet {
	@mixin screen_to, 980px {
		display: none;
	}
}
._hide4mobile {
	@mixin screen_to, 768px {
		display: none;
	}
}

._flft {float: left;}
._frgt {float: right;}

._alft {text-align: left;}
._argt {text-align: right;}
._actr {text-align: center;}

._vtop {vertical-align: top;}
._vmid {vertical-align: middle;}
._vbot {vertical-align: bottom;}

._ttup {text-transform: uppercase;}
._ttlw {text-transform: lowercase;}


