@font-face {
	font-family: 'ico';
	src: url('../fonts/icons.eot');
	src: url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/icons.woff2') format('woff2'),
		 url('../fonts/icons.woff') format('woff'),
		 url('../fonts/icons.ttf') format('truetype'),
		 url('../fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-vk_1:before {content: '\e813';}
.icon-mail_1:before {content: '\e814';}
.icon-user_1:before {content: '\e81c';}
.icon-phone_1:before {content: '\e815';}

.icon-fb_2:before {content: '\e816';}
.icon-vk_2:before {content: '\e817';}
.icon-in_2:before {content: '\e818';}
.icon-tw_2:before {content: '\e819';}
.icon-ok_2:before {content: '\e81a';}
.icon-st_2:before {content: '\e81b';}

.icon-cloud_1:before {content: '\e805';}
.icon-cloud_2:before {content: '\e806';}
.icon-cloud_3:before {content: '\e807';}
.icon-cloud_4:before {content: '\e808';}
.icon-cloud_5:before {content: '\e809';}

.icon-attach_1:before {content: '\e804';}

.icon-arrow_up_1:before {content: '\e800';}
.icon-arrow_down_1:before {content: '\e801';}
.icon-arrow_left_1:before {content: '\e802';}
.icon-arrow_right_1:before {content: '\e803';}


