*,
*:after,
*:before {
	outline: none;
	box-sizing: border-box;
	-webkit-print-color-adjust:exact;
}

*::selection {
	color: $c1;
	background: $c2;
}

html,
body {
	margin: 0px;
	height: 100%;
	padding: 0px;
}
body {
	color: $c1;
	background: #fff;
	font: 18px/26px $f1;
	text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@mixin screen_to, $mobile {
		font: 14px/20px $f1;
	}
}

/*#region [tags][:]*/
img,
figure,
blockquote {
	&:last-child {
		margin-bottom: 0px;
	}
}
form {
	position: relative;
}
iframe {
	border: none;
}
/*#endregion [tags][;]*/


